
@{
    ViewBag.Title = "OrderIndex2";
}

<head>
    <link href="~/Content/resource_nico/OrderManager.css" rel="stylesheet" />
    <style>
        img[src*="star"] {
            width: 30px;
            margin: 0 10px;
        }
    </style>

</head>

<div class="container" style="padding-top:100px">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-nonPay-tab" data-toggle="tab" href="#nav-nonPay" role="tab" aria-controls="nav-nonPay" aria-selected="true">待結帳訂單</a>

            <a class="nav-item nav-link" id="nav-process-tab" data-toggle="tab" href="#nav-process" role="tab" aria-controls="nav-process" aria-selected="false">處理中訂單</a>
            <a class="nav-item nav-link" id="nav-past-tab" data-toggle="tab" href="#nav-past" role="tab" aria-controls="nav-past" aria-selected="false">歷史訂單</a>
        </div>
    </nav>


    @*================================以上導覽列============================================*@
    <div class="tab-content" id="nav-tabContent">

        @*================================以下待付款列表============================================*@

        <div class="tab-pane fade show active" id="nav-nonPay" role="tabpanel" aria-labelledby="nav-nonPay-tab">
            @*div tab*@

            <table class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th scope="col">訂單編號</th>
                        <th scope="col">建立時間</th>
                        <th scope="col">訂單總金額</th>
                        <th scope="col">訂單狀態</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>



        </div>



        @*========================================待付款訂單END=======================================*@

        @*========================================處理中訂單START=======================================*@
        <div class="tab-pane fade" id="nav-process" role="tabpanel" aria-labelledby="nav-process-tab">

            <table class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th scope="col">訂單編號</th>
                        <th scope="col">建立時間</th>
                        <th scope="col">商品細項</th>
                        <th scope="col"></th>
                        <th scope="col">賣家商城</th>
                        <th scope="col">訂單狀態</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody id="tProcessbody">
                </tbody>
            </table>



        </div>







        @*========================================處理中訂單end=======================================*@

        @*========================================歷史訂單START=======================================*@
        <div class="tab-pane fade" id="nav-past" role="tabpanel" aria-labelledby="nav-past-tab">



            <table class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th scope="col">訂單編號</th>
                        <th scope="col">建立時間</th>
                        <th scope="col">訂單總金額</th>
                        <th scope="col">訂單狀態</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody id="tPastbody">
                </tbody>
            </table>



        </div>

    </div>



    @*=======================================訂單end=======================================*@
</div> @*//END OF ORDER LIST*@



@*=====================================詳細訂單彈跳視窗start==========================================*@
<div class="modal fade" id="showOrder" tabindex="-1" role="dialog" aria-labelledby="showOrderTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="modal-title" id="showOrderTitle"></h5>
                    <h6 class="my-auto" id="showOrderTime"></h6>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="showOrderbody">
                <table class="table table1">
                    <tbody id="receiptbody">
                    </tbody>
                </table>

            </div>

            <div class="w-100 d-flex justify-content-end">
                <h5 class="mr-5">總金額:</h5>
                <h4 class="mx-5" id="momey"></h4>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="checkout()">結帳</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消訂單</button>
            </div>
        </div>
    </div>
</div>
@*=====================================詳細訂單彈跳視窗end==========================================*@



<!--評論彈跳視窗 -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalCenterTitle">評分與評論</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="modalSpan" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body" class="modal-body" style="margin-bottom:30px">
                <div style="text-align:center" class="mb-5">
                    <img src="" />

                </div>
                <h4>請問您對這次交易的滿意度為 :</h4>
                <div id="div0" style="width:auto">
                    <img id="img0" src="../Content/ProductPostImg/member/star.jfif" />
                    <img id="img1" src="../Content/ProductPostImg/member/star.jfif" />
                    <img id="img2" src="../Content/ProductPostImg/member/star.jfif" />
                    <img id="img3" src="../Content/ProductPostImg/member/star.jfif" />
                    <img id="img4" src="../Content/ProductPostImg/member/star.jfif" />
                    <p>   </p>
                </div>

                <div style="border-bottom:solid 1px black" class=" pb-5 pt-3 mb-3">
                    <div class="progress ">
                        <div id="progress-bar" class="progress-bar progress-bar-striped bg-success " role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5">
                            25%.....
                        </div>
                    </div>
                    <span id="commentCNT">評分人數</span>
                </div>

                <div id="warning" class="align-content-center mt-5">
                    <label>內容描述</label>
                </div>
                <div>
                    <textarea id="commentTXT" rows="15" cols="60"></textarea>
                </div>

                <div id="OrderID" type="hidden"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <button id="submit" onclick="saveComment()" type="button" class="btn btn-primary">送出</button>
            </div>
        </div>
    </div>
</div>


<script>



    function getCookie(cookieName) {
        var name = cookieName + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";

    } // end of getCookie

    var test = getCookie('LoginID');

        var starRate;
    $(function () {


        console.log(test);
        console.log(typeof test);

        if (test == "") {
            return window.location.href = `/Members/Login`;
        }

        $.ajax({
            url: "/OrderManager/getNonPayOrderList",
            type: "GET",
            data: { 'userid': test },
            success: function (response) {
                var text = "";
                $(response).each(function (i, item) {
                    var Milliseconds = parseInt(item.createdTime.replace(/\D/igm, ""));
                    var year = new Date(Milliseconds).getFullYear();
                    var month = new Date(Milliseconds).getMonth() + 1;
                    var date = new Date(Milliseconds).getDate();

                    text += `
                    <tr onclick="showDetail(this,${item.OrderId},0)" data-toggle='modal' data-target='#showOrder')>
                    <td>${item.OrderId}</td>
                    <td>${year} - ${month} - ${date}</td>
                    <td id="total" name="${item.price}">${item.price}</td>
                    <td>${item.orderStatusString}</td>
                    <td><a class= "btn btn-secondary" href="#"> 結帳</td>
                    </tr>`

                })
                $('#tbody').html(text)
            }
        })

        // ==================Process order ajax==================

        $.ajax({
            url: "/OrderManager/getProcessOrderList",
            type: "GET",
            data: { 'userid': test },
            success: function (response) {
                var text = "";
                $(response).each(function (i, item) {
                    var Milliseconds = parseInt(item.createdTime.replace(/\D/igm, ""));
                    var year = new Date(Milliseconds).getFullYear();
                    var month = new Date(Milliseconds).getMonth() + 1;
                    var date = new Date(Milliseconds).getDate();
                    var sellerStatus = item.sellerStatus;
                    var buyerStatus = item.buyerStatus;

                    if (buyerStatus == 2) {
                        text += `
                        <tr >
                        <td id="oderdeail" name="${item.oderdeail}"> ${item.OrderId}</td>
                        <td>${year} - ${month} - ${date}</td>
                        <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                        <td> <a class="btn" role="button" href="../../NewMaimaiIndex/ProdutPost?PostID=${item.ProductPostID}">   <h3 id="postName${i}">${item.ProductPostName}</h3></a></td>
                        <td>${item.buyerName}</td>
                        <td> 已到貨</td>
                        <td><a class= "btn btn-outline-dark" data-toggle="modal" onclick="getComment(${item.oderdeail})" data-target="#exampleModalCenter"> 評論</td>
                        </tr>`
                    }
                    else if (buyerStatus == 1 && sellerStatus == 0) {

                        text += `
                        <tr >
                        <td> ${item.OrderId}</td>
                        <td>${year} - ${month} - ${date}</td>
                         <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                        <td> <a class="btn" role="button" href="../../NewMaimaiIndex/ProdutPost?PostID=${item.ProductPostID}">   <h3 id="postName${i}">${item.ProductPostName}</h3></a></td>
                        <td>${item.buyerName}</td>
                        <td> 等待賣家確認中</td>
                        <td></td>
                        </tr>
                        < td > <a class="btn btn-secondary" onclick="endOrder(${item.oderdeail})" > 結單</td>`
                    }
                    else if (buyerStatus == 1 && sellerStatus == 1) {
                        text += `
                        <tr >
                        <td> ${item.OrderId}</td>
                        <td>${year} - ${month} - ${date}</td>
                          <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                        <td>${item.ProductPostName}</td>
                        <td>${item.buyerName}</td>
                        <td> 賣家出貨中</td>
                       <td></td>
                        </tr>
                        < td > <a class="btn btn-secondary" onclick="endOrder(${item.oderdeail})"> 結單</td>`
                    }// 這邊要秀prodcut detail

                    else if (buyerStatus == 1 && sellerStatus == 2) {

                        text += `
                        <tr >
                        <td > ${item.OrderId}</td>
                        <td>${year} - ${month} - ${date}</td>
                          <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                        <td> <a class="btn" role="button" href="../../NewMaimaiIndex/ProdutPost?PostID=${item.ProductPostID}">   <h3 id="postName${i}">${item.ProductPostName}</h3></a></td>
                        <td>${item.buyerName}</td>
                        <td> 賣家已出貨</td>
                        <td><a class= "btn btn-outline-dark" onclick="endOrder(${item.oderdeail})"> 結單</td>
                        </tr>`

                    }// 這邊要秀prodcut detai
                    $('#tProcessbody').html(text)
                })
            }
        })

        //==================Process order ajax==============================
        $.ajax({
            url: "/OrderManager/getPastOrderList",
            type: "GET",
            data: { 'userid': test },
            success: function (response) {
                var text = "";
                $(response).each(function (i, item) {
                    var Milliseconds = parseInt(item.createdTime.replace(/\D/igm, ""));
                    var year = new Date(Milliseconds).getFullYear();
                    var month = new Date(Milliseconds).getMonth() + 1;
                    var date = new Date(Milliseconds).getDate();

                    text += `
                    <tr onclick="showDetail(this,${item.OrderId},1)" data-toggle='modal' data-target='#showOrder')>
                    <td>${item.OrderId}</td>
                    <td>${year} - ${month} - ${date}</td>
                    <td >${item.price}</td>
                    <td>${item.orderStatusString}</td>

                    </tr>`

                })
                $('#tPastbody').html(text)
            }
        })

        // comment
        // 星星評等

        $("#div0").find("img").on({
            mouseenter: function () {
                $(this).prop("src", "../Content/ProductPostImg/member/chngstar.jfif");
                $(this).prevAll().attr("src", "../Content/ProductPostImg/member/chngstar.jfif");
                $("#div0 p").text("評分為......." + ($(this).index() + 1) + "分，雙擊滑鼠送出");

            },
            mouseout: function () {
                $(this).prop("src", "../Content/ProductPostImg/member/star.jfif");
                $(this).nextAll().attr("src", "../Content/ProductPostImg/member/star.jfif")
            }
            ,
            dblclick: function () {
                $("#div0").find("img").off("mouseenter");
                $("#div0").find("img").off("mouseout");
                $("#div0").off("mouseout");
                $("#div0 p").text("評分完成......" + ($(this).index() + 1) + "分");
                starRate = $(this).index() + 1;
            },
        });
        $("#div0").mouseout(function () {
            $(this).children("img").prop("src", "../Content/ProductPostImg/member/star.jfif");
            $("#div0 p").text("評分中.......");
        })

        //comment



    }) // end of doucument ready

    function showDetail(elem, id, index) {

        console.log(elem)
        console.log(id)

        $.ajax({
            url: "/OrderManager/showOrderRecipt",
            type: "GET",
            data: { 'orderid': id, 'userid': test },
            success: function (response) {

                var Milliseconds = parseInt(response[0].createdTime.replace(/\D/igm, ""));
                var year = new Date(Milliseconds).getFullYear();
                var month = new Date(Milliseconds).getMonth() + 1;
                var date = new Date(Milliseconds).getDate();

                var total = 0;
                var text = ""
                $('#showOrderTitle').attr('name', `${id}`);
                $('#showOrderTitle').html(`訂單編號 # ${id}`);
                $('#showOrderTime').html(`${year} - ${month} - ${date}`);

                $(response).each(function (i, item) {

                    total += item.oneProductTotalPrice;

                    text += `<tr scope="row">
                    <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                    <td> <a class="btn" role="button" href="../../NewMaimaiIndex/ProdutPost?PostID=${item.ProductPostID}">   <h3 id="postName${i}">${item.productName}</h3></a></td>
                    <td><a href="#">${item.userAccount}</a></td>
                    <td>x ${item.QTY}</td>
                    <td>${item.oneProductTotalPrice} 元</td>
                    </tr>`;

                    $('#receiptbody').html(text);
                    $('#momey').html(`${total} 元`)


                })
                var text = ""
                if (index == 1) {
                    text += `<button type="button" class="btn btn-info"  data-toggle="modal" onclick="getComment(${item.buyusrId})" data-target="#exampleModalCenter" data-dismiss="modal" >評論</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>`
                    document.querySelector('.modal-footer').innerHTML = text;

                }
            }
        })

    }//end of showproductList

    function checkout() {
        var LoginId = getCookie("LoginID")*1;
        let id = $('#showOrderTitle').attr("name");

        $.ajax({
            url: "/OrderManager/checkout",
            type: "GET",
            data: { 'orderid': id },
            success: function (response) {
                console.log(response);                
                $(response).each(function(index,res) {
                    chat.server.sendToOne_OrderStatus(LoginId, res.SellerID, 1);
                })
                swal('成功', "繳費成功", 'success');

                window.location.reload("/OrderManager/OrderIndex2");

            },
            error: function (response) {

                swal("錯誤","","error");
                window.location.reload("/OrderManager/OrderIndex2");
            }
        });

    };

    function endOrder(id) {
        var LoginId = getCookie("LoginID") * 1;

        $.ajax({
            url: "/OrderManager/endOrder",
            type: "GET",
            data: { 'oderdeail': id },
            success: function (response) {
                swal('成功', "結單成功 ! 別忘了下評論喔", 'success');
                chat.server.sendToOne_OrderStatus(LoginId, response, 4)


                window.location.reload();

            },
            error: function (response) {

                swal('GG', "結單失敗", 'error');

                window.location.reload();
            }
        });

    }
    //comment
     //OrderID:3 獲得目前評價s
    function getComment(oderdeail) {
        console.log(oderdeail);
        $("#OrderID").attr("name",oderdeail);
        $.ajax({
            url: "@Url.Action("getComment","MyOrder")",
            data: { OrderDetailID: oderdeail},
            type: "GET",
            success: function (result) {
                var CNT = result.CNT;
                var starTotal = result.starTotal;
                var starAVG = 0;
                if (CNT==0)
                {
                    starAVG = 0;
                }
                else
                {
                    starAVG = starTotal / CNT;
                }
                console.log('result ',result);
                console.log("img",`${result.img}`);
                console.log("starTotal", `${result.starTotal}`);
                console.log("starAVG得分",`${starAVG}`);

                $("#commentCNT").text(`已經有${result.CNT}人評分`);
                $("#modal-body img").eq(0).attr("src", `../Content/ProductPostImg/member/${result.img}`);
                $("#progress-bar").css("width", `${starAVG * 20}%`).prop("aria-valuenow", `${starAVG}`).text(`${starAVG }`);
            },
        })
    }

    function saveComment() {
        var oderdeail = $("#OrderID").attr("name");
        console.log(oderdeail);

        $.ajax({
            url: "@Url.Action("saveComment", "MyOrder")",
            data: { OrderID: oderdeail, starRate: starRate, description: $(`#commentTXT`).val()},
            type: "GET",
            success: function (result) {
            swal('成功', '感謝您寶貴的意見', 'success');
                setTimeout(function () { $(".close").click() }, 700);
            },
            error: function(){
            swal("失敗","星星滿意度為必要勾選!!",'error');
            }
            })
            }

    //comment



</script>


