
@{
    ViewBag.Title = "salesOrderIndex";
}


<head>
    <link href="~/Content/resource_nico/OrderManager.css" rel="stylesheet" />
    <style>
        img[src*="star"] {
            width: 30px;
            margin: 0 10px;
        }
    </style>

</head>

<div class="container" style="padding-top:100px">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-confirm-tab" data-toggle="tab" href="#nav-confirm" role="tab" aria-controls="nav-confirm" aria-selected="true">待確認訂單</a>
            <a class="nav-item nav-link" id="nav-process-tab" data-toggle="tab" href="#nav-process" role="tab" aria-controls="nav-process" aria-selected="false">待出貨訂單</a>
            <a class="nav-item nav-link" id="nav-processed-tab" data-toggle="tab" href="#nav-processed" role="tab" aria-controls="nav-processed" aria-selected="false">出貨中訂單</a>
            <a class="nav-item nav-link" id="nav-past-tab" data-toggle="tab" href="#nav-past" role="tab" aria-controls="nav-past" aria-selected="false">完成訂單</a>
        </div>
    </nav>


    @*================================以上導覽列============================================*@
    <div class="tab-content" id="nav-tabContent">

        @*================================以下待確認列表============================================*@

        <div class="tab-pane fade show active" id="nav-confirm" role="tabpanel" aria-labelledby="nav-confirm-tab">
            @*div tab*@

            <table class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th scope="col" width="100px">訂單編號</th>
                        <th scope="col"  width="150px">建立時間</th>
                        <th scope="col">商品</th>
                        <th scope="col">商品名稱</th>
                        <th scope="col">商品數量</th>
                        <th scope="col">買家名稱</th>
                        <th scope="col">總價</th>
                        <th scope="col"   width="150px"></th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>



        </div>



        @*========================================待付款訂單END=======================================*@

        @*========================================處理中訂單START=======================================*@
        <div class="tab-pane fade" id="nav-process" role="tabpanel" aria-labelledby="nav-process-tab">

            <table class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th scope="col" width="100px">訂單編號</th>
                        <th scope="col" width="150px">建立時間</th>
                        <th scope="col">商品</th>
                        <th scope="col">商品名稱</th>
                        <th scope="col">商品數量</th>
                        <th scope="col">買家名稱</th>
                        <th scope="col">總價</th>
                        <th scope="col"   width="150px"></th>
                    </tr>
                </thead>
                <tbody id="tProcessbody">
                </tbody>
            </table>


        </div>







        @*========================================處理中訂單end=======================================*@



        @*========================================出或中訂單START=======================================*@
        <div class="tab-pane fade" id="nav-processed" role="tabpanel" aria-labelledby="nav-processed-tab">

            <table class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th scope="col" width="100px">訂單編號</th>
                        <th scope="col" width="150px">建立時間</th>
                        <th scope="col">商品</th>
                        <th scope="col">商品名稱</th>
                        <th scope="col">商品數量</th>
                        <th scope="col">買家名稱</th>
                        <th scope="col">總價</th>
                        <th scope="col"   width="150px">賣家狀態</th>
                    </tr>
                </thead>
                <tbody id="tProcessedbody">
                </tbody>
            </table>


        </div>







        @*========================================出貨中訂單end=======================================*@



        @*========================================歷史訂單START=======================================*@
        <div class="tab-pane fade" id="nav-past" role="tabpanel" aria-labelledby="nav-past-tab">



            <table class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th scope="col" width="100px">訂單編號</th>
                        <th scope="col" width="150px">建立時間</th>
                        <th scope="col">商品</th>
                        <th scope="col">商品名稱</th>
                        <th scope="col">商品數量</th>
                        <th scope="col">買家名稱</th>
                        <th scope="col">總價</th>
                        <th scope="col"   width="150px">賣家狀態</th>
                    </tr>
                </thead>
                <tbody id="tPastbody">
                </tbody>
            </table>



        </div>

    </div>



    @*=======================================訂單end=======================================*@
</div> @*//END OF ORDER LIST*@



@*=====================================詳細訂單彈跳視窗start==========================================*@
<div class="modal fade" id="showOrder" tabindex="-1" role="dialog" aria-labelledby="showOrderTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="modal-title" id="showOrderTitle"></h5>
                    <h6 class="my-auto" id="showOrderTime"></h6>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="showOrderbody">
                <table class="table table1">
                    <tbody id="receiptbody">
                    </tbody>
                </table>

            </div>

            <div class="w-100 d-flex justify-content-end">
                <h5 class="mr-5">總金額:</h5>
                <h4 class="mx-5" id="momey"></h4>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="checkout()">結帳</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消訂單</button>
            </div>
        </div>
    </div>
</div>

<!--評論彈跳視窗 -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalCenterTitle">評分與評論</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="modalSpan" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body" class="modal-body" style="margin-bottom:30px">
                <div style="text-align:center" class="mb-5">
                    <img src="" />

                </div>
                <h4>請問您對這次交易的滿意度為 :</h4>
                <div id="div0" style="width:auto">
                    <img id="img0" src="../Content/ProductPostImg/member/star.jfif" />
                    <img id="img1" src="../Content/ProductPostImg/member/star.jfif" />
                    <img id="img2" src="../Content/ProductPostImg/member/star.jfif" />
                    <img id="img3" src="../Content/ProductPostImg/member/star.jfif" />
                    <img id="img4" src="../Content/ProductPostImg/member/star.jfif" />
                    <p>   </p>
                </div>

                <div style="border-bottom:solid 1px black" class=" pb-5 pt-3 mb-3">
                    <div class="progress ">
                        <div id="progress-bar" class="progress-bar progress-bar-striped bg-success " role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5">
                            25%.....
                        </div>
                    </div>
                    <span id="commentCNT">評分人數</span>
                </div>

                <div id="warning" class="align-content-center mt-5">
                    <label>內容描述</label>
                </div>
                <div>
                    <textarea id="commentTXT" rows="15" cols="60"></textarea>
                </div>

                <div id="OrderID" type="hidden"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <button id="submit" onclick="saveComment()" type="button" class="btn btn-primary">送出</button>
            </div>
        </div>
    </div>
</div>


<script>

    function getCookie(cookieName) {
        var name = cookieName + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";

    } // end of getCookie

    var test = getCookie('LoginID');
    var starRate;

    $(function () {

        if (test == "") {
            return window.location.href = `/Members/Login`;
        }

        $.ajax({
            url: "/OrderManager/getComfirmOrderList",
            type: "GET",
            data: { 'userid': test },
            success: function (response) {
                var text = "";
                $(response).each(function (i, item) {
                    var Milliseconds = parseInt(item.createdTime.replace(/\D/igm, ""));
                    var year = new Date(Milliseconds).getFullYear();
                    var month = new Date(Milliseconds).getMonth() + 1;
                    var date = new Date(Milliseconds).getDate();



                    text += `
                    <tr>
                    <td>${item.orderID}</td>
                    <td>${year} - ${month} - ${date}</td>
                    <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                    <td>${item.productName}</td>
                    <td>${item.QTY}</td>
                    <td>${item.buyerUserAccount}</td>
                    <td ">${item.oneProductTotalPrice}</td>
                    <td><a class= "btn btn-outline-dark" onclick="comfirmOrder('${item.orderDetailId}')"> 確認訂單</td>
                    </tr>`

                })
                $('#tbody').html(text)

            }
        })

        // ==================Processed order ajax==================

        $.ajax({
            url: "/OrderManager/getSalesProcessedOrderList",
            type: "GET",
            data: { 'userid': test },
            success: function (response) {
                var text = "";

                $(response).each(function (i, item) {
                    var Milliseconds = parseInt(item.createdTime.replace(/\D/igm, ""));
                    var year = new Date(Milliseconds).getFullYear();
                    var month = new Date(Milliseconds).getMonth() + 1;
                    var date = new Date(Milliseconds).getDate();


                    text += `
                    <tr name='${item.orderDetailId}'>
                    <td>${item.orderID}</td>
                    <td>${year} - ${month} - ${date}</td>
                    <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                    <td>${item.productName}</td>
                    <td>${item.QTY}</td>
                    <td>${item.buyerUserAccount}</td>
                    <td ">${item.oneProductTotalPrice}</td>
                    <td>等待賣家取貨</td>

                    </tr>`

                })

                $('#tProcessedbody').html(text)


            }
        })


        $.ajax({
            url: "/OrderManager/getSalesProcessOrderList",
            type: "GET",
            data: { 'userid': test },
            success: function (response) {
                var text = "";

                $(response).each(function (i, item) {
                    var Milliseconds = parseInt(item.createdTime.replace(/\D/igm, ""));
                    var year = new Date(Milliseconds).getFullYear();
                    var month = new Date(Milliseconds).getMonth() + 1;
                    var date = new Date(Milliseconds).getDate();

                    text += `
                    <tr>
                    <td>${item.orderID}</td>
                    <td>${year} - ${month} - ${date}</td>
                    <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                    <td>${item.productName}</td>
                    <td>${item.QTY}</td>
                    <td>${item.buyerUserAccount}</td>
                    <td ">${item.oneProductTotalPrice}</td>
                    <td><a class= "btn btn-outline-dark" onclick="sentOrder(${item.orderDetailId})"> 出貨</td>
                    </tr>`


                })

                $('#tProcessbody').html(text)


            }
        })


        $.ajax({
            url: "/OrderManager/getSalesPastOrderList",
            type: "GET",
            data: { 'userid': test },
            success: function (response) {
                var text = "";
                $(response).each(function (i, item) {
                    var Milliseconds = parseInt(item.createdTime.replace(/\D/igm, ""));
                    var year = new Date(Milliseconds).getFullYear();
                    var month = new Date(Milliseconds).getMonth() + 1;
                    var date = new Date(Milliseconds).getDate();


                    var sellerStatus = item.sellerStatus;
               

                    if (sellerStatus == 3) {
                        text += `
                                <tr name='${item.orderDetailId}'>
                                <td>${item.orderID}</td>
                                <td>${year} - ${month} - ${date}</td>
                                <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                                <td>${item.productName}</td>
                                <td>${item.QTY}</td>
                                <td>${item.buyerUserAccount}</td>
                                <td ">${item.oneProductTotalPrice}</td>
                                <td>已評論</td>
                                </tr>`
                    }
                    else{
                        text += `
                                <tr name='${item.orderDetailId}'>
                                <td>${item.orderID}</td>
                                <td>${year} - ${month} - ${date}</td>
                                <td><div class="photo"><img   src="../Content/ProductPostImg/${item.productImg}"><div></td>
                                <td>${item.productName}</td>
                                <td>${item.QTY}</td>
                                <td>${item.buyerUserAccount}</td>
                                <td ">${item.oneProductTotalPrice}</td>
                                <td><a class= "btn btn-outline-dark" data-toggle="modal" onclick="getComment(${item.orderDetailId})" data-target="#exampleModalCenter">評論</td>
                                </tr>`
                    }

                })
                $('#tPastbody').html(text)
            }
        })

        // comment
        // 星星評等

        $("#div0").find("img").on({
            mouseenter: function () {
                $(this).prop("src", "../Content/ProductPostImg/member/chngstar.jfif");
                $(this).prevAll().attr("src", "../Content/ProductPostImg/member/chngstar.jfif");
                $("#div0 p").text("評分為......." + ($(this).index() + 1) + "分，雙擊滑鼠送出");

            },
            mouseout: function () {
                $(this).prop("src", "../Content/ProductPostImg/member/star.jfif");
                $(this).nextAll().attr("src", "../Content/ProductPostImg/member/star.jfif")
            }
            ,
            dblclick: function () {
                $("#div0").find("img").off("mouseenter");
                $("#div0").find("img").off("mouseout");
                $("#div0").off("mouseout");
                $("#div0 p").text("評分完成......" + ($(this).index() + 1) + "分");
                starRate = $(this).index() + 1;
            },
        });
        $("#div0").mouseout(function () {
            $(this).children("img").prop("src", "../Content/ProductPostImg/member/star.jfif");
            $("#div0 p").text("評分中.......");
        })

        //comment

    }) // end of doucument ready


    function comfirmOrder(orderid) {
        var LoginId = getCookie("LoginID")*1;

        $.ajax({
            url: "/OrderManager/confirmOrder",
            type: "GET",
            data: { 'oderdeail': orderid },
            success: function (response) {
                swal('成功', "確認訂單成功", 'success');
                chat.server.sendToOne_OrderStatus(LoginId, response, 2);

                window.location.reload();

            },
            error: function (response) {

                swal("失敗","確認失敗","error");
                window.location.reload();
            }
        });

    }


    function sentOrder(orderid) {
        var LoginID = getCookie("LoginID")*1;
        $.ajax({
            url: "/OrderManager/sentOrder",
            type: "GET",
            data: { 'oderdeail': orderid },
            success: function (response) {
                console.log(response);
                swal('成功', "出貨成功", 'success');
                chat.server.sendToOne_OrderStatus(LoginID, response, 3)

                window.location.reload();

            },
            error: function (response) {

                swal('GG', "出貨失敗", 'error');

                window.location.reload();
            }
        });


    }



 //comment

     //OrderID:3 獲得目前評價s
    function getComment(oderdeail) {
        console.log(oderdeail);
        $("#OrderID").attr("name",oderdeail);
        $.ajax({
            url: "@Url.Action("getComment","MyOrder")",
            data: { OrderDetailID: oderdeail},
            type: "GET",
            success: function (result) {
                var CNT = result.CNT;
                var starTotal = result.starTotal;
                var starAVG = 0;
                if (CNT==0)
                {
                    starAVG = 0;
                }
                else
                {
                    starAVG = starTotal / CNT;
                }
                console.log('result ',result);
                console.log("img",`${result.img}`);
                console.log("starTotal", `${result.starTotal}`);
                console.log("starAVG得分",`${starAVG}`);

                $("#commentCNT").text(`已經有${result.CNT}人評分`);
                $("#modal-body img").eq(0).attr("src", `../Content/ProductPostImg/member/${result.img}`);
                $("#progress-bar").css("width", `${starAVG * 20}%`).prop("aria-valuenow", `${starAVG}`).text(`${starAVG }`);
            },
        })
    }

    function saveComment() {
        var oderdeail = $("#OrderID").attr("name");
        console.log(oderdeail);

        $.ajax({
            url: "@Url.Action("saveComment", "MyOrder")",
            data: { OrderID: oderdeail, starRate: starRate, description: $(`#commentTXT`).val()},
            type: "GET",
            success: function (result) {
            swal('成功', '感謝您寶貴的意見', 'success');
                setTimeout(function () { $(".close").click() }, 1000);
                window.location.reload();
            },
            error: function(){
            swal("失敗","星星滿意度為必要勾選!!",'error');
            }
        })
     }

    //comment


</script>
