
@{
    ViewBag.Title = "MyPassword";
    Layout = "~/Views/Shared/_Layoutmaimai.cshtml";
}


 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link href="~/Content/cssCHIEN/MyAccount.css" rel="stylesheet" />
    <style>
        .abc87 {
            position: absolute;
            top: 0;
            right:0;
            padding: 0 4px;
            pointer-events: none;
            background: #fff;
            -webkit-transition: font-size .25s ease,-webkit-transform .25s ease;
            transition: font-size .25s ease,-webkit-transform .25s ease;
            transition: transform .25s ease,font-size .25s ease;
            transition: transform .25s ease,font-size .25s ease,-webkit-transform .25s ease;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .D_cm {
            font-weight: 400;
        }

        .D_bU {
            color: #2c2c2d;
        }

        .D_bY1 {
            color: #008f79;
        }
        .bigg12 {
            font-weight: 600;
        }

    </style>
</head>

<body>


    <div class="D_PC D_bs M_tG D_bo" style="padding-bottom:0px;padding-top:104px;">

        <div class="D_PE">
            <div class="D_PF">
                <div class="D_ui M_kh D_uj M_ki  D_oz">
                    <a class="D_ul M_kk D_tA D_un M_km   M_ko D_gN M_fQ"
                       href="/MyAccount/MyAccount">
                        <p class=" greenline D_bO M_bF D_bU M_bL D_ca M_bR D_ce M_bU D_cg M_bW D_ci M_bY   M_cc D_tB D_bH">
                            編輯檔案
                        </p>
                    </a>
                    <a class=" D_up D_ul M_kk D_tA D_gN M_fQ" href="/MyAccount/MyPassword">
                        <p class="D_bO M_bF D_bY1 M_bP D_ca M_bR D_ce M_bU D_cg M_bW D_ci M_bY D_cl M_cb D_tB D_bH  bigg12">
                            更改密碼
                        </p>
                    </a>
                    @*<a class="D_ul M_kk D_tA D_gN M_fQ" href="/settings/data-and-privacy">
                        <p class="D_bO M_bF D_bY M_bP D_ca M_bR D_ce M_bU D_cg M_bW D_ci M_bY D_cl M_cb D_tB D_bH">
                            數據和隱私
                        </p>
                    </a>*@
                </div>
            </div>
            <div class="D_PG" id="account">
                @*<div class="D_PZ D_bx D_bz">
                        <div class="D_Qa">
                            <h1 class="D_eA D_eJ D_eM D_eP D_eS D_cV">更改密碼</h1>
                        </div>
                        <form>
                            <div class="D_jo D_Qe">
                                <div class="D_jp D_iY">
                                    <div class="D_jr">
                                        <span class="D_bO D_bY D_ca D_ce D_cg D_cj D_cl D_jt D_jc D_bH">目前密碼</span>
                                        <input aria-label="目前密碼" autocomplete="off" class="D_ju D_jh" type="password" id="userPassWordOk">
                                    </div>
                                </div>
                            </div>
                            <div class="D_jo D_Qe">
                                <div class="D_jp D_iY">
                                    <div class="D_jr">
                                        <span class="D_bO D_bY D_ca D_ce D_cg D_cj D_cl D_jt D_jc D_bH">新密碼</span><input aria-label="新密碼" autocomplete="off" class="D_ju D_jh"   id="userPassWord" name="userPassWord" type="password">
                                    </div>
                                </div>
                            </div>
                            <div class="D_jo D_Qe">
                                <div class="D_jp D_iY">
                                    <div class="D_jr">
                                        <span class="D_bO D_bY D_ca D_ce D_cg D_cj D_cl D_jt D_jc D_bH">確認新密碼</span><input aria-label="確認新密碼" autocomplete="off" class="D_ju D_jh"     type="password" id="userPassWordcheck">
                                    </div>
                                </div>
                            </div>
                            <div class="D_Qb"></div><button class="D_cY D_et D_em D_ea D_eu D_Qc"     type="button">
                                儲存更改
                            </button>
                        </form>
                    </div>
                </div>*@
            </div>
        </div>

    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script>





        $(function () {
            $(".greenline").hover(function () {
                $(".greenline").css("color", "green")
            }, function () {
                $(".greenline").css("color", "black");
            });
        $.ajax({
            url: "@Url.Action("getAccount_P", "MyAccount")",
            type: "GET",
            success: function (account) {

                $(account).each(function (index, mem) {
                    console.log(mem.selfDescription)
                    var Milliseconds = parseInt(mem.birthday.replace(/\D/igm, ""));
                    var year = new Date(Milliseconds).getFullYear();
                    var month = new Date(Milliseconds).getMonth() + 1;
                    var date = new Date(Milliseconds).getDate();
                    $("#account").html(`
                   <div class="D_PZ D_bx D_bz">
                        <div class="D_Qa">
                            <h1 class="D_eA D_eJ D_eM D_eP D_eS D_cV">更改密碼</h1>
                        </div>
                        <form>
                            <div class="D_jo D_Qe">
                                <div class="D_jp D_iY">
                                    <div class="D_jr">
                                        <span class="D_bO D_bY D_ca D_ce D_cg D_cj D_cl D_jt D_jc D_bH">目前密碼</span><span id="rightman"  class="abc87 D_bO D_bY D_ca D_ce D_cg D_cj D_cl   D_jc D_bH" style="color: #57585a">請輸入正確的密碼以繼續</span>
                                        <input aria-label="目前密碼" autocomplete="off" onblur="passPassword()" class="D_ju D_jh" type="password" id="userPassWordOk">
                                        
                                    </div> 
                                </div>
                            </div>
                            <div class="D_jo D_Qe">
                                <div class="D_jp D_iY">
                                    <div class="D_jr">
                                        <span class="D_bO D_bY D_ca D_ce D_cg D_cj D_cl D_jt D_jc D_bH">新密碼</span><input aria-label="新密碼" autocomplete="off" class="D_ju D_jh"   id="userPassWord" name="userPassWord" type="password">
                                    </div>
                                </div>
                            </div>
                            <div class="D_jo D_Qe">
                                <div class="D_jp D_iY">
                                    <div class="D_jr">
                                        <span class="D_bO D_bY D_ca D_ce D_cg D_cj D_cl D_jt D_jc D_bH">確認新密碼</span><input aria-label="確認新密碼" autocomplete="off" class="D_ju D_jh"     type="password" id="userPassWordcheck">
                                    </div>
                                </div>
                            </div>
<input type="text" class="form-control" name="profileImg" hidden    value="${mem.profileImg}" />
 <input type="text" class="form-control" name="userAccount" id="checkUserAccount" hidden value="${mem.userAccount}" />
<input type="text" class="form-control" name="firstName" hidden value="${mem.firstName}" />
<input type="text" class="form-control" name="lastName" hidden value="${mem.lastName}" />
 <input type="text" class="form-control" name="selfDescription" hidden value="${mem.selfDescription}" />
   <input type="text" class="form-control" name="city" hidden  value="${mem.city}" />
<input type="text" class="form-control" name="address" hidden  value="${mem.address}" />
<input type="text" class="form-control" name="phoneNumber" hidden value="${mem.phoneNumber}" />
 <input type="text" class="form-control" name="email" hidden  value="${mem.email}"/>
<input name="UserID" hidden value="${mem.UserID}"/>
<input type="text" hidden class="form-control" name="birthday" value="${year}-${month}-${date}" />
<input name="userLevel" hidden value="${mem.userLevel}"/>
  <input hidden value="${mem.userPassWord}"    id="pwd"/>
<input type="text" class="form-control" name="identityNumber" hidden   value="${mem.identityNumber}" />

<input type="text" class="form-control" name="connectionID" hidden    value="${mem.connectionID}" />
<input type="text" class="form-control" name="totalStarRate"hidden  value="${mem.totalStarRate}" />
<input type="text" class="form-control" name="ProImg"hidden  value="${mem.ProImg}" />

                            <div class="D_Qb"></div><button class="D_cY D_et D_em D_ea D_eu D_Qc"  id="key1" disabled="true" onclick="editMember()"  type="button">
                                更改密碼
                            </button>
                        </form>
                    </div>

                `)
                })
            },
            error: function () {
                window.location.href = "../../Members/Login";
            }
        })











        })
         function passPassword() {
             var checkpassword = $("#userPassWordOk").val();
            var checkUserAccount2 = $("#checkUserAccount").val();
            $.ajax({

              url: "@Url.Action("Editpassword", "MyAccount")",
                type: "POST",
                data: {
                    userPassWord: checkpassword,
                    userAccount: checkUserAccount2


                },
                success: function (data) {

                    var byebye = data.indexOf("密碼錯誤")
                    if (byebye < 0) {
                        $('#rightman').css("color", "green")
                        $('#rightman').html("密碼正確，請繼續更改密碼")

                        $('#key1').attr('disabled', false);
                        //alert(data);
                        //alertTest1()
                        //window.location.href = "/NewMaimaiIndex/MaimaiIndexNew";
                        //setTimeout("home()", 2000)
                    }
                    else {
                        $('#rightman').css("color", "red")
                        $('#rightman').html("您所輸入的密碼錯誤")
                        $('#key1').attr('disabled', true);

                        //alertTest()
                    }


                }

            })

            }
        function editMember() {

            if ($("#userPassWord").val() == "" && $("#userPassWordcheck").val() == "") {
                //var oldPwd = $("#pwd").val();
                //var test = $("#userPassWord").val(`${oldPwd}`);
                alert("請輸入您要修改的密碼")
                return false;
            }
            else if ($("#userPassWord").val() != $("#userPassWordcheck").val()) {
                alert("新密碼驗證失敗")
                return false;
            }

            var form = document.querySelector("form");
            var formdata = new FormData(form);
            console.log(formdata);
            console.log(form);
            $.ajax({
                url: "@Url.Action("editMember_P", "MyAccount")",
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (account) {
                    //$("#userPassWord").val("")
                        alert("修改成功")
                }
                })

        }
    </script>
</body>

</html>




