
@{
    ViewBag.Title = "creditCard";
}

<h2>creditCard</h2>

List<string> enErrors = null;

             try
             {
                 using (AllInEscrow oPayment = new AllInEscrow())
                 {
                     /* 服務參數 */
                     oPayment.ServiceMethod = HttpMethod.HttpPOST;
                     oPayment.ServiceURL = "<<AllPay Service URL>>";
                     oPayment.HashKey = "<<5294y06JbISpM5x9>>";
                     oPayment.HashIV = "<<v77hoKGq4kWxNNIS>>";
                     oPayment.MerchantID = "<<2000132>>";
                     /* 基本參數 */
                     oPayment.Send.ReturnURL = "<<Return URL>>";
                     oPayment.Send.ClientBackURL = "<<Client Back URL>>";

                     oPayment.Send.MerchantTradeNo = "<<12345678901234567890>>";
                     oPayment.Send.MerchantTradeDate = DateTime.Parse("<<20210105>>");
                     oPayment.Send.TotalAmount = Decimal.Parse("<<40>>");
                     oPayment.Send.TradeDesc = "<<SONY遊戲機台>>";
                     oPayment.Send.Currency = "<<TW>>";
                     oPayment.Send.EncodeChartset = "<<Encode Chartset>>";
                     oPayment.Send.UseAllpayAddress = "<<Use Allpay Address>>";
                     oPayment.Send.CreditInstallment = Int32.Parse("<<Credit Installment>>");
                     oPayment.Send.InstallmentAmount = Decimal.Parse("<<Installment Amount>>");
                     oPayment.Send.Redeem = "<<Redeem>>";
                     oPayment.Send.ShippingDate = "<<<20210514>>>";
                     oPayment.Send.ConsiderHour = Int32.Parse("<<48>>");
                     oPayment.Send.Remark = "<<易碎品，請輕放>>";
                     // 加入選購商品資料。
                     oPayment.Send.Items.Add(new Item() { Name = "<<Product Name>>", Price = Decimal.Parse("<<Unit Price>>"), Currency = "<<Currency>>", Quantity = Int32.Parse("<<Quantity>>"), URL = "<<Product Detail URL>>" });
                     oPayment.Send.Items.Add(new Item() { Name = "<<Product Name>>", Price = Decimal.Parse("<<Unit Price>>"), Currency = "<<Currency>>", Quantity = Int32.Parse("<<Quantity>>"), URL = "<<Product Detail URL>>" });
                     oPayment.Send.Items.Add(new Item() { Name = "<<Product Name>>", Price = Decimal.Parse("<<Unit Price>>"), Currency = "<<Currency>>", Quantity = Int32.Parse("<<Quantity>>"), URL = "<<Product Detail URL>>" });

                     enErrors.AddRange(oPayment.CheckOut());
                 }
             }
             catch (Exception ex)
             {
                 // 例外錯誤處理。
                 enErrors.Add(ex.Message);
             }
             finally
             {
                 // 顯示錯誤訊息。
                 if (enErrors.Count() > 0)
                     ScriptManager.RegisterStartupScript(this, typeof(Page), "_MESSAGE", String.Format("alert(\"{0}\");", String.Join("\\r\\n", enErrors)), true);
             }


