.D_aho {
    display: -webkit-box;
    display: flex;
}
* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Droid Sans,Helvetica Neue,sans-serif;
}
*, :after, :before {
    box-sizing: inherit;
}
div {
    display: block;
}
#root, body {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
body {
    flex-flow: column nowrap;
    min-height: 100%;
    margin: 0;
    overflow: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #57585a;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.D_ahm, .D_ahn {
    display: -webkit-box;
    display: flex;
}
.D_ahm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-width: 992px;
}
/*.D_agE {
    width: 100%;
    height: 128px;
    background-color: #ff2636;
    background-image:url(../ImageCHIEN/maimai.png);
    background-repeat: repeat;
    background-size: 50%;
}*/
@media (min-width: 1440px){
    .D_agC {
    margin-right: calc((-100vw - -1440px)/2 - 24px);
    margin-left: calc((-100vw - -1440px)/2 - 24px);
}
}

.D_agC {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin: 0 -24px;
}
.D_agG, .D_agH {
    display: -webkit-box;
    display: flex;
    width: 100%;
}
.D_agG {
    background: #fff;
    border-bottom: 1px solid #f0f1f1;
}
.D_agM {
    min-width: 324px;
}
.D_agN {
    display: -webkit-box;
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}
.D_agO {
    -webkit-box-flex: 0;
    flex: 0 0 324px;
    width: 324px;
    padding-right: 24px;
    margin-top: -112px;
}
.D_jU {
    position: relative;
}
.D_agP {
    border: 4px solid #fff;
}
.D_kf {
    width: 160px;
    height: 160px;
}
.D_jV {
    background: #f0f1f1;
    border-radius: 50%;
}
.D_bA {
    position: relative;
    display: block;
    overflow: hidden;
}
.D_bg {
    font-size: 30px;
    line-height: 38px;
}
.D_by {
    font-weight: 400;
}
.D_bw {
    text-align: left;
}
.D_bq {
    color: #2c2c2d;
}
.D_bi {
    overflow: hidden;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-overflow: ellipsis;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}.D_bU {
    font-size: 16px;
    line-height: 24px;
}
.D_cv {
    font-weight: 400;
}
.D_ct {
    text-align: left;
}
.D_cr {
    white-space: normal;
}
.D_co {
    word-break: normal;
    overflow-wrap: normal;
}
.D_cl {
    text-decoration: none;
}
.D_cj {
    color: #2c2c2d;
}
.D_bY {
    overflow: hidden;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-overflow: ellipsis;
}
.D_aha {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 8px 12px;
    margin-left: -12px;
    border-radius: 2px;
}
.D_ahb {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.D_bA {
    position: relative;
    display: block;
    overflow: hidden;
}
.D_ahc:nth-child(2), .D_ahe {
    margin-left: 4px;
}
.D_ahe {
    margin-right: 8px;
}
.D_ahc {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 2px;
}
.D_bU {
    font-size: 16px;
    line-height: 24px;
}
.D_cv {
    font-weight: 400;
}
.D_ct {
    text-align: left;
}
.D_cr {
    white-space: normal;
}
.D_co {
    word-break: normal;
    overflow-wrap: normal;
}
.D_cl {
    text-decoration: none;
}
.D_ci {
    color: #57585a;
}
svg:not(:root) {
    overflow: hidden;
}
.D_bV {
    font-size: 14px;
    line-height: 22px;
}
.D_agV {
    display: -webkit-box;
    display: flex;
    margin-top: 8px;
}
.D_agW {
    display: inline-block;
    vertical-align: middle;
}
.D_agX, .D_agY {
    width: 16px;
    vertical-align: middle;
}
.D_agX {
    margin-left: 8px;
}
.D_bA {
    position: relative;
    display: block;
    overflow: hidden;
}
.D_ahg {
    display: -webkit-box;
    display: flex;
    margin-top: 24px;
}
.D_ahh {
    margin-right: 24px;
}
.D_ih, .D_ih:active, .D_ih:focus, .D_ih:hover, .D_ih:visited {
    color: inherit;
    text-decoration: none;
}
.D_alQ, .D_alR {
    display: -webkit-box;
    display: flex;
}
.D_alQ {
    flex-wrap: wrap;
    width: 300px;
    padding: 16px;
    margin-top: 36px;
}
.D_bc {
    box-shadow: 0 3px 10px 0 rgb(44 44 45 / 7%), inset 0 0 0 1px rgb(44 44 45 / 7%);
}
.D_ba {
    background-color: #fff;
    border-radius: 8px;
}
.D_alR {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
}
.D_alU {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.D_alW {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.D_bA {
    position: relative;
    display: block;
    overflow: hidden;
}.D_bT {
    font-size: 20px;
    line-height: 28px;
}
.D_cw {
    font-weight: 600;
    color: black;
}
.D_alV {
    margin-bottom: 12px;
}
.D_alT {
    align-self: flex-end;
}
.D_ay {
    cursor: pointer;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}
.D_aI {
    color: #fff;
    background-color: #008f79;
}
.D_aS {
    font-size: 14px;
}
.D_aI, .D_aJ, .D_aK, .D_aO, .D_aP, .D_aQ, .D_aR {
    padding: 8px 16px;
    border-radius: 4px;
}
.D_aI, .D_aJ, .D_aK, .D_aL, .D_aM, .D_aN, .D_aO, .D_aP, .D_aQ, .D_aR {
    font-weight: 600;
    line-height: 1.5;
}
.D_aG {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: none;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button {
    overflow: visible;
    text-transform: none;
}
button, input, select {
    margin: 0;
}
.D_ahj {
    margin-bottom: 16px;
}
.D_vO {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}
.D_vP {
    width: 100%;
    min-width: 300px;
    min-height: 250px;
}
.D_hi {
    padding: 12px 0;
}
.D_hj {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 12px;
    line-height: 24px;
}
.D_hh {
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.D_ahi {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: calc(100% - 508px);
    padding-top: 24px;
}
.D_ahs {
    padding-bottom: 16px;
}
.D_bc {
    box-shadow: 0 3px 10px 0 rgb(44 44 45 / 7%), inset 0 0 0 1px rgb(44 44 45 / 7%);
}
.D_ba {
    background-color: #fff;
    border-radius: 8px;
}
.D_aht {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 24px 32px 8px;
}
/*.D_bh {
    font-size: 24px;
    line-height: 32px;
}*/
.D_bz {
    font-weight: 600;
}
.D_bw {
    text-align: left;
}
.D_bq {
    color: #2c2c2d;
}
.D_bi {
    overflow: hidden;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-overflow: ellipsis;
}
.D_ahy {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
}
.D_hA, .D_hB {
    display: -webkit-box;
    display: flex;
}
.D_hA {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
}
.D_ahu {
    padding: 0 20px 0 12px;
}
.D_hm {
    padding: 0 16px;
    border: 1px solid #c5c5c6;
    border-radius: 4px;
}
.D_hB {
    background: #fff;
}
.D_hA, .D_hB {
    display: -webkit-box;
    display: flex;
}
.D_is {
    position: relative;
    width: 100%;
}
.D_ahw {
    padding-bottom: 16px;
    margin: 16px 20px 0;
}
.D_io, .D_ip {
    display: -webkit-box;
    display: flex;
}
.D_io {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}
.D_il {
    width: calc(25% - 8px);
}
.D_kW {
    margin: 0 4px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.D_kZ {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    flex-shrink: 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px;
    -webkit-transition: -webkit-transform .4s cubic-bezier(.4,0,.2,1);
    transition: -webkit-transform .4s cubic-bezier(.4,0,.2,1);
    transition: transform .4s cubic-bezier(.4,0,.2,1);
    transition: transform .4s cubic-bezier(.4,0,.2,1),-webkit-transform .4s cubic-bezier(.4,0,.2,1);
}
.D_lc {
    min-width: 100%;
    max-width: 208px;
}
.D_ih, .D_ih:active, .D_ih:focus, .D_ih:hover, .D_ih:visited {
    color: inherit;
    text-decoration: none;
}
.D_lm {
    position: relative;
    border-radius: 0 0 4px 4px;
}
.D_kX {
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.D_l_, .D_lA {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.D_l_ {
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 8px 12px;
}
.D_kY {
    -webkit-box-flex: 0;
    flex: 0;
    padding: 12px 0 0;
}
.D_lA {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-box-pack: center;
    justify-content: center;
}
.D_l_, .D_lA {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.D_ay {
    cursor: pointer;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}
.D_aL, .D_aM, .D_aN, .D_aY {
    background-color: transparent;
}
.D_aY {
    padding: 8px;
}
.D_aT {
    font-size: 16px;
}
svg:not(:root) {
    overflow: hidden;
}
.D_lB, .D_lC {
    width: 16px;
    height: 16px;
}
.D_lB {
    margin-right: 4px;
}
.D_lG {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 8px;
    margin-top: 4px;
    border-top: 1px solid #c5c5c6;
}
 
.D_aN {
    color: #008f79;
}
.D_aL, .D_aM, .D_aN {
    padding: 0;
}
.D_aL, .D_aM, .D_aN, .D_aY {
    background-color: transparent;
}
.D_ahk, .D_ahl {
    margin-left: 24px;
}
.D_ahl {
    margin-top: 188px;
}
.D_ahj {
    margin-bottom: 16px;
}
.D_fs, .D_ft {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.D_fs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    overflow: hidden;
}
.D_ft {
    width: auto;
}
.D_fs, .D_ft {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.D_agB {
    background: #fff;
}
@media (min-width: 1440px){
    .D_cE {
    padding-right: calc((100vw - 1440px)/2 + 64px);
    padding-left: calc((100vw - 1440px)/2 + 64px);
}
}

 
.D_cI {
    -webkit-box-flex: 1;
    flex: 1;
}
#root {
    -webkit-box-flex: 1;
    flex: 1;
    flex-flow: column nowrap;
}
#root, body {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
body {
    flex-flow: column nowrap;
    min-height: 100%;
    margin: 0;
    overflow: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #57585a;
}
html {
    box-sizing: border-box;
    height: 100%;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.D_agH {
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.D_rY {
    display: -webkit-box;
    display: flex;
}
.D_ix {
    overflow-x: auto;
}
.D_rW {
    cursor: pointer;
}
.D_sf {
    border-bottom: 2px solid #008f79;
}
.D_sc {
    padding-bottom: 18px;
}
.D_sa {
    padding: 20px 0;
    margin: 0 16px;
    text-align: center;
}
.D_ih, .D_ih:active, .D_ih:focus, .D_ih:hover, .D_ih:visited {
    color: inherit;
    text-decoration: none;
}
.D_aO {
    padding: 7px 16px;
    background-color: #fff;
    border: 1px solid #c5c5c6;
}
.D_aS {
    font-size: 14px;
}  
.D_hw {
    width: 16px;
    height: 16px;
    margin-right: -8px;
    margin-left: -8px;
}
.D_hE {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.D_ht {
    height: 32px;
    font-size: 14px;
    line-height: 14px;
}
.D_ho {
    padding-right: 16px;
}
.D_hH {
    width: 100%;
    margin: 0;
    background: transparent;
    border: 0;
}
.D_hG, .D_hH {
    color: #57585a;
}
input {
    overflow: visible;
}
.D_agK {
    margin: auto 0;
  
}
.D_ln {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
}
.D_bA.D_bB .D_bE {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.D_bB:after {
    display: block;
    padding-top: 100%;
    content: "";
}
.D_kX {
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.D_cq {
    white-space: nowrap;
}
.D_hm:focus-within {
    border: 1px solid #008f79;
    box-shadow: 0 0 0 4px #cce9e4;
}
.D_hH:focus {
    outline: none;
}

.D_agE {
    width: 100%;
    height: 128px;
    background-color: black;
    background-image: url(../../Content/ImageCHIEN/maimai.png);
    background-repeat: repeat;
    background-size: 100%;
    border-radius: 10px;
}

.D_ahz:hover {
    cursor: pointer;
    background-color: #f0f1f1;
    box-shadow: 0 0 0 4px #fff;
}

.D_ahz {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 8px 12px;
    margin-left: -12px;
    border-radius: 2px;
}

.D_aW {
    text-decoration: none;
}

.D_aT {
    color: #57585a;
}

.D_aK {
    overflow: hidden;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-overflow: ellipsis;
}

.D_ahA:nth-child(2), .D_ahB {
    margin-left: 4px;
}

.D_ahA {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 2px;
}

.D_lQ {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.D_lV {
    margin-right: 2px;
}

.D_lT {
    width: 20px;
    height: 20px;
}

.D_ahB {
    margin-right: 8px;
}

.D_ahA:nth-child(2), .D_ahB {
    margin-left: 4px;
}

.D_ahA {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 2px;
}

.D_aG {
    font-size: 16px;
    line-height: 24px;
}

 

.D_bf {
    text-align: left;
}

.D_bc {
    white-space: normal;
}

.D_aZ {
    word-break: normal;
    overflow-wrap: normal;
}

.D_aW {
    text-decoration: none;
}

.D_aT {
    color: #57585a;
    padding: 5px;
    background-color: mintcream;
}

.D_aK {
    overflow: hidden;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-overflow: ellipsis;
}

svg:not(:root) {
    overflow: hidden;
}

.D_aG {
    font-size: 16px;
    line-height: 24px;
}

 

.D_bf {
    text-align: left;
}

.D_bc {
    white-space: normal;
}

.D_aZ {
    word-break: normal;
    overflow-wrap: normal;
}

.D_aW {
    text-decoration: none;
}

.D_aT {
    color: #57585a;
}

.D_aK {
    overflow: hidden;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-overflow: ellipsis;
}