
@{
    ViewBag.Title = "fuckyou";
    Layout = "~/Views/Shared/_Layoutmaimai.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">*@

    <link href="~/Content/cssCHIEN/personalMarket.css" rel="stylesheet" />
     
    <link href="~/Content/resource_nico/createProductPost.css" rel="stylesheet" />
    <link href="~/Content/resource_nico/requriedIndex.css" rel="stylesheet" />
    <style>
        .wei-grid-special0 {
            overflow: hidden;
            transition: box-shadow 500ms;
        }

            .wei-grid-special0:hover {
                box-shadow: 0 5px 30px rgba(225, 202, 202, 1);
            }
        .D_agE {
            width: 100%;
            height: 128px;
            background-color: black;
            background-image: url(../../Content/ImageCHIEN/maimai.png);
            background-repeat: repeat;
            background-size: 100%;
            border-radius: 10px;
        }
        .D_agE {
            width: 100%;
            height: 128px;
            background-color: black;
            background-image: url(../../Content/ImageCHIEN/maimai.png);
            background-repeat: repeat;
            background-size: 100%;
            border-radius: 10px;
        }

        .D_ahz:hover {
            cursor: pointer;
            background-color: #f0f1f1;
            box-shadow: 0 0 0 4px #fff;
        }

        .D_ahz {
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            padding: 8px 12px;
            margin-left: -12px;
            border-radius: 2px;
        }

        .D_aW {
            text-decoration: none;
        }

        .D_aT {
            color: #57585a;
        }

        .D_aK {
            overflow: hidden;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            text-overflow: ellipsis;
        }

        .D_ahA:nth-child(2), .D_ahB {
            margin-left: 4px;
        }

        .D_ahA {
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            margin-bottom: 2px;
        }

        .D_lQ {
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
        }

        .D_lV {
            margin-right: 2px;
        }

        .D_lT {
            width: 20px;
            height: 20px;
        }

        .D_ahB {
            margin-right: 8px;
        }

        .D_ahA:nth-child(2), .D_ahB {
            margin-left: 4px;
        }

        .D_ahA {
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            margin-bottom: 2px;
        }

        .D_aG {
            font-size: 16px;
            line-height: 24px;
        }

        .D_bh {
            font-weight: 400;
        }

        .D_bf {
            text-align: left;
        }

        .D_bc {
            white-space: normal;
        }

        .D_aZ {
            word-break: normal;
            overflow-wrap: normal;
        }

        .D_aW {
            text-decoration: none;
        }

        .D_aT {
            color: #57585a;
            padding: 5px;
            background-color: mintcream;
        }

        .D_aK {
            overflow: hidden;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            text-overflow: ellipsis;
        }

        svg:not(:root) {
            overflow: hidden;
        }

        .D_aG {
            font-size: 16px;
            line-height: 24px;
        }

        .D_bh {
            font-weight: 400;
        }

        .D_bf {
            text-align: left;
        }

        .D_bc {
            white-space: normal;
        }

        .D_aZ {
            word-break: normal;
            overflow-wrap: normal;
        }

        .D_aW {
            text-decoration: none;
        }

        .D_aT {
            color: #57585a;
        }

        .D_aK {
            overflow: hidden;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            text-overflow: ellipsis;
        }
        .D_cw {
            font-weight: 600;
            
        }
        .g123 {
            color: #008f79;
        }
        .D_bh {
            font-weight: 600;
        }
        .D_aha:hover {
            cursor: pointer;
            background-color: #f0f1f1;
            box-shadow: 0 0 0 4px #fff;
        }
    </style>
</head>

<body>


    <div id="root">
        <div @*class="D_cE D_cI D_agB"*@ style="padding-bottom: 0px; padding-top: 104px;">
            <div class="D_aho">
                <div class="D_ahm">
                    <div class="D_agC D_agE">
                    </div>
                    <div class="D_agC D_agG">
                        <div class="D_agM"></div>
                        <div class="D_agH">
                            <div class="D_rY  D_ix">
                                <a class="D_sa D_rW D_sc D_sf D_ih">
                                    <p class="D_bY D_cf D_cl D_co D_cq D_cs D_cw D_rX D_bU g123">商品</p>
                                </a>
                                <a class="D_sa D_rW D_ih" onclick="goback()">
                                    <p class="D_bY D_cj D_cl D_co D_cq D_cs D_cv D_rX D_bU greenline">評價</p>
                                </a>
                            </div>
                            @*<div class="D_agK w-25">
                                    <a class="D_ih" data-toggle='modal' data-target='#bulid'>
                                        <div class="D_aG D_ay D_aS D_aO D_aB " type="button">上架商品</div>
                                    </a>
                                </div>*@
                            @*<div class="D_agK w-25">
                                    <a class="D_ih" href="/OrderManager/salesOrderIndex">
                                        <div class="D_aG D_ay D_aS D_aO D_aB " type="button">賣家訂單管理</div>
                                    </a>
                                </div>*@
                            @*<div class="D_agK">
                                    <a class="D_ih" href="/settings/profile/">
                                        <div class="D_aG D_ay D_aS D_aO D_aB" type="button">編輯檔案</div>
                                    </a>
                                </div>*@
                        </div>
                    </div>
                    <div class="D_agN">
                        <div class="D_agO">
                            <div class="D_jU">
                                <span class="D_bA D_agP D_jV D_kf D_bB" id="ImgGood">
                                </span>

                                @*<span class="D_bA D_agP D_jV D_kf D_bB"><img alt="" class="D_bE" id="image00"  src="../Content/ProductPostImg/member/  title=""></span>*@
                            </div>
                            <h2 id="lastName" class="D_bi D_bq D_bw D_by D_bg">@*建寧 黃*@</h2>

                            <p class="D_bY D_cj D_cl D_co D_cr D_ct D_cv D_bU"> </p>
                            <a onclick="goback()" style="text-decoration:none" />
                            <div class="D_aha" style="" id="ViewComment">
                                @*<img alt="" class="D_bE D_bA D_ahb" crossorigin="anonymous" src="https://mweb-cdn.karousell.com/build/star-empty-66230871b8b309452e1913302057b3b5.svg" title="">
                                    <p class="D_bY D_ci D_cl D_co D_cr D_ct D_cv D_ahc D_ahe D_bU">尚無評價</p>
                                    <svg class="" fill="#57585a" height="24" role="img" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z" id="iconArrow"></path></svg>*@
                            </div>
                            <p id="City" class="D_bY D_ci D_cl D_co D_cr D_ct D_cv D_bV">新北市 (New Taipei) &nbsp;&nbsp;∙&nbsp;&nbsp; 已加入 3d</p>
                            <div class="D_agV" style="">
                                <p class="D_bY D_ci D_cl D_co D_cr D_ct D_cv D_agW D_bV">已驗證</p>
                                <img alt="" class="D_bE D_bA D_agX" crossorigin="anonymous" src="https://mweb-cdn.karousell.com/build/verification-facebook-7da6b15e81b9cd7f0e812374073fa0ef.svg" title="">
                                <img alt="" class="D_bE D_bA D_agX" crossorigin="anonymous" src="https://mweb-cdn.karousell.com/build/verification-mobile-1c56f8d69d78ee30bcd4295f0c467772.svg" title="">
                            </div>
                            <div class="D_ahg">

                                <div class="D_ahh D_bF D_ih">

                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">


                                            <p id="selfDescription" class="card-text"> </p>

                                        </div>
                                    </div>





                                    @*<textarea style="border:none" cols="45" class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bJ D_bN D_bV" id="selfDescription"></textarea>*@
                                    @*<p class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bJ D_bN D_bV" id="selfDescription">0 關注 </p>*@
                                </div>

                                <a class="D_ahh D_bF D_ih">@*<p class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bJ D_bN D_bV">0 追蹤中 </p>*@</a>
                            </div>
                            @*<div class="D_alQ D_ba D_bc">
                                    <div class="D_alR">
                                        <div class="D_alU">
                                            <img alt="" class="D_bE D_bA D_alW" crossorigin="anonymous" src="https://mweb-cdn.karousell.com/build/promote-inactive-07a36f3334a1662962ac691b7f69fd47.svg" title="">
                                            <p class="D_bY D_cj D_cl D_co D_cr D_ct D_cw D_bT">0</p>
                                        </div>
                                        <div class="D_alV">
                                            <p class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bV">今天檢視了你的個人檔案的人</p>
                                            <p class="D_bY D_cj D_cl D_co D_cq D_ct D_cv D_alS D_bV">宣傳個人檔案未開啟</p>
                                        </div>
                                    </div>
                                    <button class="D_aG D_ay D_aS D_aI D_az D_alT" type="button">查看點閱率</button>
                                </div>*@
                            <div class="D_vO D_ahj">
                                <div id="AdWideMPUDesktop-container" class="D_hi D_vP">
                                    <div class="D_hj" id="AdWideMPUDesktop-label">
                                        <p class="D_bY D_ci D_cl D_co D_cr D_ct D_cv D_hj D_bV">廣告</p>
                                    </div>
                                    <div class="D_hh" id="AdWideMPUDesktop" data-google-query-id="CKid7_HRhu8CFZSawgodXWUM7A">
                                        <div id="google_ads_iframe_/325540922/Desktop_Profile_Rectangle_2__container__" style="border: 0pt none;">
                                            <iframe id="google_ads_iframe_/325540922/Desktop_Profile_Rectangle_2" title="3rd party ad content" name="google_ads_iframe_/325540922/Desktop_Profile_Rectangle_2" width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" data-google-container-id="d" style="border: 0px; vertical-align: bottom;" data-load-complete="true"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="D_ahi">
                            <div>
                                <div class="D_ahs D_ba D_bc">
                                    <div class="D_aht">
                                        <h3 class="D_bi D_bq D_bw D_bz D_bh">商品</h3>
                                        <div class="D_ahy">
                                            @*<form>
                                                    <div class="D_hA">
                                                        <div class="D_hB D_hm D_ahu">
                                                            <div class="D_hE">
                                                                <input class="D_hH D_hI D_ht D_ho" placeholder="搜尋商品" type="text" value="">
                                                                <img alt="" class="D_bE D_bA D_hw" src="https://mweb-cdn.karousell.com/build/search-outlined-aa9256ec88b56592d3358b3aeb7f90f7.svg" title="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>*@
                                        </div>
                                    </div>
                                    <div class="D_is">
                                        <div class="D_io D_ahw" id="allPost">
                                            @*頭*@
                                            @*<div class="D_kZ D_kW D_il">
                                                    <div class="D_lc">
                                                        <a class="D_ih" href="/p/特斯拉-1071117856/?t-id=29214924_1614311140082&amp;t-referrer_request_id=vVlLujK09qPAFQfS">
                                                            <div class="D_lm">
                                                                <span class="D_bA D_ln D_bB"><img alt="" class="D_bE"  id="productImg"src="https://media.karousell.com/media/photos/products/2021/2/23/_1614047114_979e5449_progressive_thumbnail" title=""></span>
                                                            </div>
                                                            <p  id="productName"class="D_bY D_ci D_cl D_co D_cq D_ct D_cw D_bV">特斯拉</p>
                                                            <p id="price" class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bU">NT$5,000,000</p>
                                                            <p id="productDescription" class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bV">自動駕駛</p>
                                                            <p class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bV">新品</p>
                                                        </a>
                                                    </div>
                                                    <div class="D_l_  M_gx D_kX">
                                                        <button class="D_aG D_ay D_aT D_aY D_lA  D_kY" type="button"><svg class="D_lB " height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17 1c3.852 0 7 3.148 7 7 0 3.858-2.067 7.513-5.44 10.724C16.158 21.01 13.04 23 12 23s-4.158-1.99-6.56-4.276C2.067 15.514 0 11.858 0 8c0-3.852 3.148-7 7-7 1.917 0 3.688.79 5 2.13C13.312 1.79 15.083 1 17 1zm0 2c-1.677 0-3.205.854-4.176 2.267a1 1 0 0 1-1.648 0C10.205 3.854 8.676 3 7 3 4.252 3 2 5.252 2 8c0 3.215 1.804 6.406 4.82 9.276C8.86 19.218 11.652 21 12 21c.347 0 3.14-1.782 5.18-3.724C20.197 14.406 22 11.215 22 8c0-2.748-2.252-5-5-5z" fill="#57585a"></path></svg><span class="D_bY D_ci D_cl D_co D_cr D_ct D_cv D_bV">&nbsp;</span></button>
                                                        <button class="D_aG D_ay D_aS D_aY D_lA D_kY" type="button"><img alt="" class="D_bE D_bA D_lB" crossorigin="anonymous" src="https://mweb-cdn.karousell.com/build/listing-insight-f5374f8a0bd79934d0aa3cbe73d07584.svg" title=""></button>
                                                    </div>
                                                    <button class="D_aG D_ay D_aS D_aN D_aF D_lG" type="button">宣傳</button>
                                                </div>*@
                                            @*委*@
                                            @*<div class="D_kZ D_kW D_il">
                                                    <div class="D_lc">
                                                        <a class="D_ih" href="/p/歡迎加入旋轉拍賣！-1071117678/?t-id=29214924_1614311140082&amp;t-referrer_request_id=vVlLujK09qPAFQfS">
                                                            <div class="D_lm">
                                                                <span class="D_bA D_ln D_bB"><img alt="" class="D_bE" src="~/Content/ImageCHIEN/maimaiLOGO.svg" title=""></span>
                                                            </div>
                                                            <p class="D_bY D_ci D_cl D_co D_cq D_ct D_cw D_bV">歡迎加入買買MaiMai！</p>
                                                            <p class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bU">NT$0</p>
                                                            <p class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bV">嗨嗨!😊 在買買MaiMai這個平台上</p>
                                                            <p class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bV"></p>
                                                            <p class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bV"></p>
                                                        </a>
                                                    </div>
                                                    <div class="D_l_ D_kX">
                                                        <button class="D_aG D_ay D_aT D_aY D_lA  D_kY" type="button"><svg class="D_lB " height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17 1c3.852 0 7 3.148 7 7 0 3.858-2.067 7.513-5.44 10.724C16.158 21.01 13.04 23 12 23s-4.158-1.99-6.56-4.276C2.067 15.514 0 11.858 0 8c0-3.852 3.148-7 7-7 1.917 0 3.688.79 5 2.13C13.312 1.79 15.083 1 17 1zm0 2c-1.677 0-3.205.854-4.176 2.267a1 1 0 0 1-1.648 0C10.205 3.854 8.676 3 7 3 4.252 3 2 5.252 2 8c0 3.215 1.804 6.406 4.82 9.276C8.86 19.218 11.652 21 12 21c.347 0 3.14-1.782 5.18-3.724C20.197 14.406 22 11.215 22 8c0-2.748-2.252-5-5-5z" fill="#57585a"></path></svg><span class="D_bY D_ci D_cl D_co D_cr D_ct D_cv D_bV">&nbsp;</span></button>
                                                        <button class="D_aG D_ay D_aS D_aY D_lA D_kY" type="button"><img alt="" class="D_bE D_bA D_lB" crossorigin="anonymous" src="https://mweb-cdn.karousell.com/build/listing-insight-f5374f8a0bd79934d0aa3cbe73d07584.svg" title=""></button>
                                                    </div>
                                                    <button class="D_aG D_ay D_aS D_aN D_aF D_lG" disabled="" type="button">宣傳</button>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="D_ahl">
                    <div class="D_fs D_ahj" style="position: sticky; top: 104px;">
                        <div class="D_ft">
                            <div id="adTallTopMPU-container" class="D_hi D_fu">
                                <div class="D_hj" id="adTallTopMPU-label">
                                    <p class="D_bY D_ci D_cl D_co D_cr D_ct D_cv D_hj D_bV">廣告</p>
                                </div>
                                <div class="D_hh" id="adTallTopMPU" data-google-query-id="CL_fx_HRhu8CFcxFYAodt5UGJw">
                                    <div id="google_ads_iframe_/325540922/Desktop_Profile_RSB_2__container__" style="border: 0pt none; display: inline-block; width: 160px; height: 600px;">
                                        <iframe frameborder="0" src="https://af9a746fb16e9e470bc73c4363da472a.safeframe.googlesyndication.com/safeframe/1-0-37/html/container.html" id="google_ads_iframe_/325540922/Desktop_Profile_RSB_2" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="160" height="600" data-is-safeframe="true" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" data-google-container-id="c" style="border: 0px; vertical-align: bottom;" data-load-complete="true"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




    @*======================================================Start 建立商 品藏============================================*@


    <div class="modal fade" id="bulid" tabindex="-1" role="dialog" aria-labelledby="editMemberTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editMemberTitle"> 商品上架</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="editMemberbody">
                    <form class="formFrame mx-auto " enctype="multipart/form-data">
                        <div class="displayImg">
                            <div class="photo"><img id="Productimg"></div>
                            <input type="file" onchange="previewFile()" name="upphoto" id="productImg" style="display: block;">
                        </div>
                        <div class="displayInput">
                            <h6>
                                產品名稱:
                                <input type="text" name="productName" id="productName">
                            </h6>
                            <h6>
                                產品描述:
<textarea id="productDescription" name="productDescription" placeholder="使用程度、幾成新" rows="4"
          cols="50" onclick="tag()"></textarea>
                            </h6>
                            <h6>
                                價格:
                                <input type="text" name="price" id="price">
                            </h6>
                            <h6>
                                數量:
                                <input type="text" name="inStoreQTY" id="inStoreQTY">
                            </h6>
                            <h6>
                                標籤:
                                <select id="tagselection$" class="form-control" name="TagID">
                                    <option>Choose...</option>
                                </select>
                            </h6>

                            <!-- createtime -->
                            <input type="hidden" name="createdTime">
                            <!-- userID -->
                            <input type="hidden" name="RequiredPostID">
                            <!-- requiredPostID -->
                            <div style="display: flex; justify-content:flex-end;">

                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="submitProdouct()">新增貼文</button>
                </div>
            </div>
        </div>
    </div>
    @*======================================================================================================================*@












    @*================================================end 建立訂單藏======================================================*@
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>*@

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        function goback() {
            window.location.href = `/Comment/Comment_WithoutLogin?UserID=${getProductPostID}`;
        }
        function CarouselClick(PostID) {
            window.location.href = `/NewMaimaiIndex/ProdutPost?PostID=${PostID}`;
            console.log(ProductPostID);
        }

        //.D_sf {
        //    border - bottom: 2px solid #008f79;
        //}
        //greenline
        $(function () {
            $(".greenline").hover(function () {
                $(".greenline").css("color", "green")
            }, function () {
                $(".greenline").css("color", "black");
            });

        });

        $(function () {
            var test = getCookie('LoginAccount');

            function getCookie(cookieName) {
                var name = cookieName + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                }
                return "";

            }
            var getUrlString = location.href;
            var url = new URL(getUrlString);
            getProductPostID = url.searchParams.get("UserID");

            $.ajax({

                type: "POST",
                url: "/Comment/TotalStarRate",
                data: {
                    UserID: getProductPostID
                },

                success: function (data) {
                    $(data).each(function (i, item) {

                        var a = item.Average;
                        a = a.toFixed(1);

                        if (a >= 5) {
                            $("#ViewComment").append(` <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_aG">${a}</p>
                                    <div class="D_lQ D_ahA">
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                           <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                             <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                    </div>
                                    <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_ahA D_ahB D_aG"> ${item.RateCount}</p>
                                    <svg class="" fill="#57585a" height="24" role="img" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z" id="iconArrow"></path></svg>`)
                        }

                        else if (a >= 4.5) {
                            $("#ViewComment").append(` <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_aG">${a}</p>
                                    <div class="D_lQ D_ahA">
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                           <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                              <img alt="" class="D_aw D_at " crossorigin="anonymous" src="https://mweb-cdn.karousell.com/build/star-half-3ebsmd0Z9V.svg" title="">
                                        </div>
                                    </div>
                                    <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_ahA D_ahB D_aG"> ${item.RateCount}</p>
                                    <svg class="" fill="#57585a" height="24" role="img" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z" id="iconArrow"></path></svg>`)
                        }
                        else if (a >= 4) {
                            $("#ViewComment").append(` <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_aG">${a}</p>
                                    <div class="D_lQ D_ahA">
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                           <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                               <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                    </div>
                                    <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_ahA D_ahB D_aG"> ${item.RateCount}</p>
                                    <svg class="" fill="#57585a" height="24" role="img" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z" id="iconArrow"></path></svg>`)
                        }
                        else if (a >= 3.5) {
                            $("#ViewComment").append(` <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_aG">${a}</p>
                                    <div class="D_lQ D_ahA">
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                           <img alt="" class="D_aw D_at " crossorigin="anonymous" src="https://mweb-cdn.karousell.com/build/star-half-3ebsmd0Z9V.svg" title="">
                                        </div>
                                        <div class="D_lT D_lV">
                                               <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                    </div>
                                    <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_ahA D_ahB D_aG"> ${item.RateCount}</p>
                                    <svg class="" fill="#57585a" height="24" role="img" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z" id="iconArrow"></path></svg>`)
                        }

                        else if (a >= 3) {
                            $("#ViewComment").append(` <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_aG">${a}</p>
                                    <div class="D_lQ D_ahA">
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                         <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                               <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                    </div>
                                    <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_ahA D_ahB D_aG"> ${item.RateCount}</p>
                                    <svg class="" fill="#57585a" height="24" role="img" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z" id="iconArrow"></path></svg>`)
                        }

                        else if (a >= 2.5) {
                            $("#ViewComment").append(` <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_aG">${a}</p>
                                    <div class="D_lQ D_ahA">
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                         <img alt="" class="D_aw D_at " crossorigin="anonymous" src="https://mweb-cdn.karousell.com/build/star-half-3ebsmd0Z9V.svg" title="">
                                        </div>
                                        <div class="D_lT D_lV">
                                         <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                               <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                    </div>
                                    <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_ahA D_ahB D_aG"> ${item.RateCount}</p>
                                    <svg class="" fill="#57585a" height="24" role="img" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z" id="iconArrow"></path></svg>`)
                        }
                        else if (a >= 2) {
                            $("#ViewComment").append(` <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_aG">${a}</p>
                                    <div class="D_lQ D_ahA">
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                         <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                         <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                               <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                    </div>
                                    <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_ahA D_ahB D_aG"> ${item.RateCount}</p>
                                    <svg class="" fill="#57585a" height="24" role="img" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z" id="iconArrow"></path></svg>`)
                        }
                        else if (a >= 1.5) {
                            $("#ViewComment").append(` <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_aG">${a}</p>
                                    <div class="D_lQ D_ahA">
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                          <img alt="" class="D_aw D_at " crossorigin="anonymous" src="https://mweb-cdn.karousell.com/build/star-half-3ebsmd0Z9V.svg" title="">
                                        </div>
                                        <div class="D_lT D_lV">
                                         <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                         <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                               <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                    </div>
                                    <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_ahA D_ahB D_aG"> ${item.RateCount}</p>
                                    <svg class="" fill="#57585a" height="24" role="img" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z" id="iconArrow"></path></svg>`)
                        }
                        else if (a >= 1) {
                            $("#ViewComment").append(` <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_aG">${a}</p>
                                    <div class="D_lQ D_ahA">
                                        <div class="D_lT D_lV">
                                            <svg class="" fill="#008f79" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                          <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                         <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                         <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                        <div class="D_lT D_lV">
                                               <svg class="" fill="#ffffff" fill-rule="nonzero" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M11.01 10.54l4.1-8.3a1 1 0 0 1 1.79 0l4.09 8.3 9.15 1.33a1 1 0 0 1 .56 1.7l-6.63 6.46 1.57 9.11a1 1 0 0 1-1.45 1.06L16 25.9l-8.19 4.3a1 1 0 0 1-1.45-1.06l1.57-9.11-6.63-6.46a1 1 0 0 1 .56-1.7L11 10.54z" stroke="#008f79" stroke-width="2"></path></svg>
                                        </div>
                                    </div>
                                    <p class="D_aK D_aT D_aW D_aZ D_bc D_bf D_bh D_ahA D_ahB D_aG"> ${item.RateCount}</p>
                                    <svg class="" fill="#57585a" height="24" role="img" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z" id="iconArrow"></path></svg>`)
                        }
                        else if (a == 0 || a == null) {
                            $("#ViewComment").append(`
                                        <img alt="" class="D_bE D_bA D_ahb" crossorigin="anonymous"
                                             src="https://mweb-cdn.karousell.com/build/star-empty-66230871b8b309452e1913302057b3b5.svg"
                                             title="">
                                        <p class="D_bY D_ci D_cl D_co D_cr D_ct D_cv D_ahc D_ahe D_bU">尚無評價</p>
                                        <svg class="" fill="#57585a" height="24" role="img" viewBox="0 0 24 24"
                                             width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z"
                                                  id="iconArrow"></path>
                                        </svg>`)
                        }
                    })
                }
            });



            //console.log(test)
            $.ajax({

                type: "GET",
                url: "/PersonalMarket/GetMember",
                data: {

                    UserID: getProductPostID




                },

                success: function (data) {

                    $("#lastName").html(data.lastName + data.firstName)
                    //$("#image00").html(data.profileImg)
                    $("#City").html(data.city)
                    $("#selfDescription").html(data.selfDescription)

                    $(data).each(function (i, item) {
                        $("#ImgGood").append(` <img alt="" class="D_bE" id="image00"  img src=../Content/ProductPostImg/member/${item.profileImg}  title=""> `)
                    });




                }

            });








            $.ajax({

                type: "POST",
                url: "/PersonalMarket/checkAllComment",
                data: {

                    UserID: getProductPostID




                },

                success: function (data) {
                    $(data).each(function (i, item) {
                        //$("#ImgGood").append(` <img alt="" class="D_bE" id="image00"  img src=../Content/ProductPostImg/member/${item.profileImg}  title=""> `)


                        $("#allPost").append(`
                                <div class="D_kZ D_kW D_il wei-grid-special0">
                                    <div class="D_lc" onclick="CarouselClick(${item.ProductPostID})">
                                        <a class="D_ih"  >
                                            <div class="D_lm">
                                                <span class="D_bA D_ln D_bB"><img alt="" class="D_bE" id="productImg" img src=../Content/ProductPostImg/${item.productImg} title=""></span>
                                                                </div>
                                                <p id="productName" class="D_bY D_ci D_cl D_co D_cq D_ct D_cw D_bV">${item.productName}</p>
                                                <p id="price" class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bU">NT$${item.price}</p>
                                                <p id="productDescription" class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bV"> ${item.productDescription}</p>
                                                <p class="D_bY D_ci D_cl D_co D_cq D_ct D_cv D_bV">總量 : ${item.inStoreQTY}</p>
                                                            </a>
                                                        </div>
                                        <div class="D_l_  M_gx D_kX">
                                            <button class="D_aG D_ay D_aT D_aY D_lA  D_kY" type="button"><svg class="D_lB " height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17 1c3.852 0 7 3.148 7 7 0 3.858-2.067 7.513-5.44 10.724C16.158 21.01 13.04 23 12 23s-4.158-1.99-6.56-4.276C2.067 15.514 0 11.858 0 8c0-3.852 3.148-7 7-7 1.917 0 3.688.79 5 2.13C13.312 1.79 15.083 1 17 1zm0 2c-1.677 0-3.205.854-4.176 2.267a1 1 0 0 1-1.648 0C10.205 3.854 8.676 3 7 3 4.252 3 2 5.252 2 8c0 3.215 1.804 6.406 4.82 9.276C8.86 19.218 11.652 21 12 21c.347 0 3.14-1.782 5.18-3.724C20.197 14.406 22 11.215 22 8c0-2.748-2.252-5-5-5z" fill="#57585a"></path></svg><span class="D_bY D_ci D_cl D_co D_cr D_ct D_cv D_bV">&nbsp;</span></button>
                                            <button class="D_aG D_ay D_aS D_aY D_lA D_kY" type="button"><img alt="" class="D_bE D_bA D_lB" crossorigin="anonymous" src="https://mweb-cdn.karousell.com/build/listing-insight-f5374f8a0bd79934d0aa3cbe73d07584.svg" title=""></button>
                                                        </div>
                                            <button class="D_aG D_ay D_aS D_aN D_aF D_lG" type="button" onclick="addcar(${item.ProductPostID})"  >加入購物車</button>
                                        </div>`)
                        console.log(test)

                        //$("#productName").html(item.productName)
                        //$("#productDescription").html(item.productDescription)
                        //$("#price").html(item.price)
                        ////$("#productImg").html(item.productImg)
                        ////console.log(item.productImg)
                        ////console.log(item.productName)

                        ////$("#image00").html(data.profileImg)
                        ////$("#City").html(data.city)
                        ////$("#selfDescription").html(data.selfDescription)
                    }
                    )
                }
            });



        });
        function addcar(getProductPostIDNew) {
            console.log(getProductPostIDNew);
            $.ajax({
                url: "/NewMaimaiIndex/goCar1",
                type: "post",
                data: {
                    ProductPostID: getProductPostIDNew,
                    QTY: 1,
                    //inStoreQTY: $("#inStoreQTY").val(),
                    //CartNumber: "123",
                    //UserID: $("#itemuserid").attr("name"),
                },
                success: function (data) {
                    if (data == "請先登入") {
                        alertTest()
                 
                        setTimeout("home()", 2000)
                    }
                    if (data == "新增成功" || data == "商品更新成功" || data == "增加一筆新商品") {
                        alertTestok()
                  
                        setTimeout(`window.location.href = "/Cart/cartIndex"`, 2000)

                    }
                }
            });
        }
        function alertTest() {
            Swal.fire(
                "請先登入", //標題
                " 請先登入", //訊息內容(可省略)
                "error" //圖示(可省略) success/info/warning/error/question

            );
        }
        function alertTestok() {
            Swal.fire(
                "新增成功", //標題
                " 新增成功", //訊息內容(可省略)
                "success" //圖示(可省略) success/info/warning/error/question

            );
        }

        function home() {
            window.location.href = "/Members/Login";
        }


        function deletepost(id) {
            $.ajax({

                type: "POST",
                url: "/PersonalMarket/deletepost",
                data: {

                    UserID: id
                },
                success: function (data) {
                    alert(data)
                    location.reload()
                }
            });
        }









        function submitProdouct() {


            var form = document.querySelector(".formFrame")
            console.log(form)
            var data = new FormData(form);
            $.ajax({
                url: "/RequiredPost/commemtProductPost",
                type: "Post",
                data: data,
                processData: false,
                contentType: false,
                success: function (response) {
                    window.alert(response)
                    window.location.href = "/PersonalMarket/Personal_Index"

                }
            })
        }//end  of submit product


        function tag() {
            var txt = ""
            $.ajax({
                url: "/RequiredPost/getAllTag",
                type: "GET",
                success: function (response) {
                    $(response).each(function (i, item) {
                        // txt += <a>itrm.tagid </a>
                        txt += `<option value=${item.TagID}>${item.tagName}</option>`
                        $("h6>select").html(txt)
                    })
                }
            })

        }// end tag function

        function previewFile() {
            //var photo = $(eler).val();
            const preview = document.querySelector('#Productimg');
            const file = document.querySelector('input[type=file]').files[0];
            const reader = new FileReader();

            reader.addEventListener("load", function () {
                // convert image file to base64 string
                preview.src = reader.result;
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        } //  doUpload end



    </script>


</body>

</html>

