
/*後台左邊列表主選單*/
.btncss {
    background: radial-gradient(#CBC0D3, #A693B4 );
    box-shadow: 3px 3px 9px #A693B4;
    color: #5D6B83;
    font-weight:600;
}

/*後台右邊選單子選單*/
.btncss_inside {
    background-color: #EFD3D7;
    box-shadow: 3px 3px 9px #A693B4;
    font-weight:500;
    color:#556177;
}

.btn_info {
    background-color: #ADB7FF;
    box-shadow: 3px 3px 9px #7081FF;
    font-weight: 500;
    color: #5D6B83;
}

.btn_del {
    background-color: #CE0000;
    box-shadow: 3px 3px 9px #750000;
    color: white !important;
}

.btn_save {
    background-color: #5CADAD;
    box-shadow: 3px 3px 9px #4F9D9D;
    color: white !important;
}

.btn_close {
    background-color: #8E8E8E;
    box-shadow: 3px 3px 9px #6C6C6C;
    color: white !important;
}