
@{
    ViewBag.Title = "requiredSingalPage";
}

<style>
    .moving {
        transform: translate(0px, 800px);
    }
</style>
<div class="container" style="padding: 100px 10px 10px 10px ; background-color: #FBEFF4; border-radius:20px ">
    <div class="shadow-lg d-flex" style="height:800px">

        <div class=" card col-5 w-100 h-100 py-5" style="border:1px solid black;" id="page-left">


        </div>

        <div class="card col-7 h-100" style="border:1px solid black ; overflow:hidden;"  >
            <div id="commentBox" class="h-100" style="overflow-y:scroll">



            </div>
            <button class="btn w-100" style=" background-color: #DDCAD5;" type="button" data-toggle="collapse" data-target="#collapsecommentBox" aria-expanded="false" aria-controls="collapsecommentBox">
                我要留言
            </button>



            @*<button class="btn w-100" style=" background-color: #DDCAD5;" type="button" >
                我要留言
            </button>*@
            <div class="collapse" id="collapsecommentBox">
                @*不能用*@

                <div class="card card-body w-100 shadow">
                    <span class="btn btn-outline-dark" data-toggle="modal" onclick="report()" data-target="#exampleModalCenter" style="width:60px">檢舉</span>

                    <form class="formFrame mx-auto Commentform " enctype="multipart/form-data">
                        <div class="displayImg Productimg ">
                            <div class="w-50"><img class="w-100" id="Productimg"></div>
                            <input type="file" onChange="previewFile()" name="upphoto" id="productImg "
                                   style="display: block;">
                            <div class="ml-5">
                                <input class="form-check-input" id="showProduct" onchange="addStatus() " type="checkbox" name="status">
                                <label>此商品是否加入個人賣場</label>
                            </div>
                        </div>
                        <div class="displayInput w-100">
                            <h6>產品名稱:</h6><input class="ml-2 form-control" type="text" name="productName" id="productName  ">
                            <h6>產品描述:</h6>
                            <textarea id="productDescription " name="productDescription" placeholder="使用程度、幾成新"
                                      class="form-control ml-2" rows="3" onclick="tag()"></textarea>
                            <h6>交貨方式:</h6>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="transationType" value="express "
                                           id="express " checked>
                                    <label class="form-check-label " for="express ">
                                        物流交貨
                                    </label>
                                </div>
                                <div class="form-check input-group">
                                    <input class="form-check-input" type="radio" name="transationType"
                                           onchange="changeDis()" id="pTop " value="pTop ">
                                    <label class="form-check-label" for="pTop ">
                                        當面交貨/地點
                                    </label>
                                </div>
                                <div id="city "></div>
                            </div>


                            <h6>價格:</h6><input class="ml-2 form-control" type="text" name="price" id="price">
                            <h6>數量:</h6><input class="ml-2 form-control" type="text" name="inStoreQTY" id="inStoreQTY">
                            <h6>
                                標籤:
                                <select id="tagselection" class="form-control" name="TagID">
                                    <option>Choose...</option>
                                </select>
                            </h6>

                            <!-- createtime -->
                            <input type="hidden" name="createdTime">
                            <!-- userID -->
                            <input type="hidden" name="RequiredPostID">
                            <!-- requiredPostID -->

                        </div>

                    </form>
                    <button type="submit" class="btn btn-comment" style="color:#FFB4A2" onclick="submitProdouct(this)">建立商品留言</button>
                </div>

            </div>@*end of 商品留言*@
        </div>

    </div>






</div>
</div>


@*containerEnd*@

<script>

    $(function () {

        var getUrlString = location.href;
        var url = new URL(getUrlString);
        var getRquiredPostID = url.searchParams.get("rqID");


        var text = "";


        $.ajax({
            type: "POST",
            url: "/RequiredPost/getsingalPost",
            data: {
                requiredPostID: getRquiredPostID
            },
            success: function (data) {


                var Milliseconds = parseInt(data.postTime.replace(/\D/igm, ""));
                var year = new Date(Milliseconds).getFullYear();
                var month = new Date(Milliseconds).getMonth() + 1;
                var date = new Date(Milliseconds).getDate();


                text += `


                            <div class="photo" style="height:300px">
                            <img class="w-100 h-100" src="../Content/resource_nico/images/徵求台POST/${data.postImg}">
                            </div>


                            <h6 class="my-5">貼文名稱 : <span class="font-weight-bolder">${data.postName}</span></h6>
                               <div class="d-flex">
                             <img style="border-radius:50%; width:50px;height:50px" src="../Content/ProductPostImg/member/${data.userAvrta}"/>

                            <a onclick="window.open('../../PersonalMarket/Personal_Index_WithoutLogin?UserID=${data.UserID}','${data.userAccount}的賣場')" href="#"><h6 class="my-3 mx-3"> 買家 :  <span class="font-weight-bolder">${data.userAccount}</span></h6><a>
                            </div>
                            <h6 class="my-3">貼文描述 :  <span class="font-weight-bolder">${data.postDescription}</span></h6>
                            <h6 class="my-3"> 大概徵求價位：<span class="font-weight-bolder">${data.estimatePrice}</span>  元</h6>
                             <div class="my-5">
                            <span>${data.county}</span><span>${data.district}</span>
                            </div>
                            <span>建立時間 : ${year} - ${month} - ${date}</span>



                            `
                $("#page-left").html(text);

            },
            error: function (data) {

                Swal.fire("失敗", data, 'error');
            }
        });

        var inner = "";

        $.ajax({
            url: "/RequiredPost/checkAllComment",
            type: "Post",
            data: { data: getRquiredPostID },
            success: function (response) {
                $(response).each(function (i, item) {

                    if (item.county == null) {
                        inner += `
                          <div class="row mx-auto shadow-lg my-3">

                    <div class="w-25 h-25">
                        <img class="w-100" src="../Content/ProductPostImg/${item.productImg}">
                    </div>


                    <div class="post-text">
                        <div class="d-flex justify-content-between">
                            <a class="btn" role="button" href="../../NewMaimaiIndex/ProdutPost?PostID=${item.ProductPostID}"><h3 class="ml-1" id="postName${i}"><span class="font-weight-bolder">${item.productName}</span></h3></a>
                            <h6 class="my-auto">${item.county}  ${item.district}</h6>
                        </div>

                        <div class="post-text">
                            <a class="btn" role="button" href="../../PersonalMarket/Personal_Index_WithoutLogin?UserID=${item.useraccountID}"><h6 id="userName">賣家 :  <span class="font-weight-bolder">${item.userAccount}</span></h6></a>

                            <h6 id="text">產品敘述 :  <span class="font-weight-bolder"> ${item.productDescription}</span></h6>
                        </div>

                        <div class="post-button">
                            <h6 id="price  "> <span class="font-weight-bolder">價位：${item.price}</span>  元</h6>
                            <a class="btn" href="../../NewMaimaiIndex/ProdutPost?PostID=${item.ProductPostID}">查看商品</a>
                        </div>
                    </div>
                </div>`

                    }
                    else {
                        inner += `
                      <div class="row mx-auto shadow-lg my-3">

                    <div class="w-25 h-25">
                        <img class="w-100" src="../Content/ProductPostImg/${item.productImg}">
                    </div>


                    <div class="post-text">
                        <div class="d-flex justify-content-between">
                            <a class="btn" role="button" href="../../NewMaimaiIndex/ProdutPost?PostID=${item.ProductPostID}"><h3 class="ml-1" id="postName${i}"><span class="font-weight-bolder">${item.productName}</span></h3></a>

                        </div>

                        <div class="post-text">
                            <a class="btn" role="button" href="../../PersonalMarket/Personal_Index_WithoutLogin?UserID=${item.useraccountID}"><h6 id="userName">賣家 :  <span class="font-weight-bolder">${item.userAccount}</span></h6></a>

                            <h6 id="text">產品敘述 :  <span class="font-weight-bolder"> ${item.productDescription}</span></h6>
                        </div>

                        <div class="post-button">
                            <h6 id="price  "> <span class="font-weight-bolder">價位：${item.price}</span>  元</h6>
                            <a class="btn" href="../../NewMaimaiIndex/ProdutPost?PostID=${item.ProductPostID}">查看商品</a>
                        </div>
                    </div>
                </div>`

                    }

                })
                $(`#commentBox`).html(inner);

            }
        })

    })//document ready


    function previewFile() {
        //var photo = $(eler).val();
        const preview = document.querySelector('#Productimg');
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    } //  doUpload end



    function tag() {
        var txt = ""
        $.ajax({
            url: "/RequiredPost/getAllTag",
            type: "GET",
            success: function (response) {
                $(response).each(function (i, item) {
                    // txt += <a>itrm.tagid </a>
                    txt += `<option value=${item.TagID}>${item.tagName}</option>`
                    $("h6>select").html(txt)
                })
            }
        })

    }// end tag function


    function changeDis(index) {

        new TwCitySelector({
            el: ".my-selector-c",
            elCounty: ".county", // 在 el 裡查找 dom
            elDistrict: ".district", // 在 el 裡查找 dom
            elZipcode: ".zipcode" // 在 el 裡查找 dom
        });

        $(`#city${index}`).addClass("my-selector-c");
        $(`#city${index}`).html(`
            <div>
                <select class="county" name="county"></select>
            </div>
            <div>
                <select class="district" name="district"></select>
            </div>`);

    }// change radio county and distrst

    var getUrlString = location.href;
    var url = new URL(getUrlString);
    var getRquiredPostID = url.searchParams.get("rqID");



    function submitProdouct() {


        var test = getCookie('LoginAccount');
        if (test == "") {
            Swal.fire("必須要登入才能留言喔")
            return window.location.href = `/Members/Login`;
        }

        var form = document.querySelector(`.Commentform`)
        console.log(form)
        var data = new FormData(form);
        data.append("RequiredPostID", getRquiredPostID)
        console.log(data);

        $.ajax({
            url: "/RequiredPost/commemtProductPost",
            type: "Post",
            data: data,
            processData: false,
            contentType: false,
            success: function (response) {
                swal('成功', '送出成功', 'success');
                window.location.reload("/RequiredPost/requiredPostIndex")

            }
        })
    }//end  of submit product



     //========== report script=====================

    function report() {
        $.ajax({
            url: "@Url.Action("getReport","MyOrder")",
            data: {},
            type: "GET",
            success: function (result) {
                $(".modal-body").html(`
                <!-- Default dropright button -->
<p>
  <a class="btn btn-danger" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    檢舉標籤
  </a>
</p>
<div class="collapse" id="collapseExample">
                <div  id="reportTags"class="btn-group">

</div>
                </div>
                    </div>
                    </div>
                 </div>

                <div id="warning" class="align-content-center">
                <label ><h3>內容描述</h3></label>
                </div>
                <div>
                <textarea id="reportTXT" rows="15" cols="60"></textarea>
                </div>
`);

                $(result).each(function (index, item) {
                    $("#reportTags").append(`
<input type="radio"class="btn btn-info " value="${index}"style="border-radius:50px"id="btnradio${index}" required>
  <label  for="btnradio${index}" class="btn btn-info " value="${index}"style="border-radius:50px" onclick="changeColor()" >

${item.reason}</label>
                `)
                })

            }
        })
    }

    function changeColor() {
        $(event.target).removeClass("btn-info").addClass("btn-success").siblings().removeClass("btn-success").addClass("btn-info");
    };

    function saveReport() {
        //var reportTAG = new Array();
        //$('input:checked').each(function (i) { reportTAG[i] = $(this).val(); });
        console.log(`reportTAG=$('input:checked').val()`);
        var reportTAG = $('input:checked').val() * 1 + 1;
        if (reportTAG == "NaN") {
            return false;
        }
        $.ajax({
            url: "@Url.Action("saveReport","MyOrder")",
            data: { reportTXT: $("#reportTXT").val(), reportTAG: reportTAG  },
            type: "POST",
            success: function (result) {
//                alert("送出成功!!");
                swal('成功', '送出成功', 'success');
                setTimeout(function () { $(".close").click() }, 700);
            },
            error: function(){
                swal("失敗","檢舉標籤為必要勾選!!",'error');
            }
        })
    }


    //========== report script=====================



</script>