
@{
    ViewBag.Title = "Index";
}

<html lang="zh-tw">
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4UTN8dWiT3p-Dxnt0W3F1AzV8MUfrsGA">
    </script>
    <style>
        .map {
            width: 750px;
            height: 750px;
            border: 1px solid gray;
        }
        img {
            
        }
    </style>
</head>
<body>
    <div class="container" style="padding-top:100px">
        <h2>顯示附近的訂單</h2>
        <div id="map" class="map"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        var CurrentPos;
        $(function () {
            initMap();
            //function initMap() {
            var latlng = { lat: 25.046891, lng: 121.516602 }; // 給一個初始位置
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14, //放大的倍率
                center: latlng, //初始化的地圖中心位置
                mapTypeControl: false, //預設功能關閉 ex.放大、切換衛星地圖...等
                scaleControl: false, /*比例尺*/
                streetViewControl: false, /*地圖與街景切換*/
                rotateControl: false, /*旋轉 45 度地圖*/
                fullscreenControl: false, /*全螢幕地圖*/
                styles: /*陣列形式，表示這個地圖顯示出來的樣式。*/ [{
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                    {
                        "featureType": "poi",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    }],
            });
            //var marker = new google.maps.Marker({
            //    //position: latlng,
            //    //map: map
            //});

            //定位地點start
            var map, geocoder;
            function initMap() {
                geocoder = new google.maps.Geocoder();
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10
                });
                
                var address;
                //生成address位置start
                $.ajax({
                    url: "/googleMap/getmarket",
                    type: "GET",
                    success: function (MapList) {
                        $(MapList).each(function (i, item) {
                           //重後台抓位置start
                            address = (`${item.county}${item.district}${item.address}`).toString()
                            geocoder.geocode({ 'address': address }, function (results, status) {
                                if (status == 'OK') {
                                    map.setCenter(results[0].geometry.location);
                                    var marker = new google.maps.Marker({
                                        map: map,
                                        label: 'MaiMai',
                                        
                                        position: results[0].geometry.location,
                                        //icon: {
                                        //    url: '/Content/resource_nico/logoTOPwithoutBG.png',
                                        //    scaledSize: new google.maps.Size(10, 10)
                                        //},
                                    });
                                } else {
                                    console.log(status);
                                }
                            });
                             //重後台抓位置end
                        })
                        
                       
                    }
                })
               //生成address位置end
            }
            var marker = new google.maps.Marker({
                position: {
                    lat: 25.0336962,
                    lng: 121.5643673
                },
                map: map
            });

            var infowindow = new google.maps.InfoWindow({
                content: '<h1>大家好</h1>'
            });

            marker.addListener('click', function () {
                a = a * -1;
                if (a > 0) {
                    infowindow.open(map, marker);
                } else {
                    infowindow.close();
                }
            });
             //定位地點End
            


            if (navigator.geolocation) {
                //debugger;
                navigator.geolocation.getCurrentPosition(function (position) {
                    CurrentPos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var marker = new google.maps.Marker({
                        title: "現在位置",
                        icon: {
                            url: '/Content/resource_nico/logoTOPwithoutBG.png',
                                 scaledSize: new google.maps.Size(100, 100)
                        },
                        draggable: true,
                       
                        position: CurrentPos,
                        map: map
                    });



                    map.setZoom(17);
                    map.setCenter(CurrentPos);

                    

                    let cityCircle = new google.maps.Circle({
                        strokeColor: '#f1c40f', // 線條顏色
                        strokeOpacity: 1, // 線條透明度
                        strokeWeight: 5, // 線條粗度
                        fillColor: '#f1c40f', // 圓形裡填滿的顏色
                        fillOpacity: 0.35, // 圓形裡，填滿顏色的透明度
                        map,
                        // 中心點
                        center: CurrentPos,
                        // 半徑
                        radius: 2000
                    });

                });
            }
            else
            {
                        // Browser doesn't support Geolocation
                        alert("未允許或遭遇錯誤！");
             }

      





        })//end of document ready


    </script>

</body>

</html>